<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<p><strong>CONTRATO DIGITAL DE CERTIFICA&Ccedil;&Atilde;O E CARIMBO DE&nbsp;</strong><strong>TEMPORALIDADE DE DOCUMENTOS
        DIGITAIS, E OUTROS AJUSTES NA FORMA ABAIXO.</strong></p>
<p>&nbsp;</p>
<p>CONTRATO N&Uacute;MERO <strong id="codeFiles"></strong>.</p>
<p><strong>DAS PARTES</strong></p>
<p align="JUSTIFY" style="margin-bottom: 0.08in; direction: ltr;">
    <span id="lblNome">
        {{user.clientes.nome|upper}}&Atilde;O</span>,&nbsp;<span
        id="lblPais">Brasil</span>&nbsp;, estado c&iacute;vil&nbsp;<span
        id="lblStCivil">{{user.clientes.get_estadocivil|upper}},&nbsp;</span>&nbsp;<span
        id="lblDescricaoCPFCNPJ">inscrito no CPF/MF sob o n&ordm;&nbsp;</span><span
        id="lblCPF">{{user.clientes.cnpjcpf|upper}}</span>&nbsp;<span id="lblTipoDocumento">, portador
        do(a) Identidade n&ordm;</span><span id="lblRg">{{user.clientes.documento_identidade|upper}}</span>,
        residente e domiciliado na&nbsp;<span
        id="lblEnde">{{user.clientes.endereco|upper}}</span>&nbsp;, n&ordm;&nbsp;<span
        id="lblNum">{{user.clientes.numero}}</span>
        {% if user.clientes.complemento %}
        &nbsp;{{user.clientes.complemento|upper}}
        {% endif %}, bairro {{user.clientes.bairro|upper}},
    no Munic&iacute;pio de {{user.clientes.cidade|upper}}, 
    Estado de {{user.clientes.estado|upper}}, doravante designado
    simplesmente&nbsp;<strong>CONTRATANTE</strong>, e;</p>
<p>HOODID REGISTROS ONLINE LTDA - EPP, pessoa jur&iacute;dica de direito privado, constitu&iacute;da sob a forma de
    sociedade por quotas de responsabilidade limitada, inscrita no Cadastro Nacional de Pessoas Jur&iacute;dicas do
    Minist&eacute;rio da Fazenda (CNPJ/MF) sob o n&ordm; 20.854.059/0001-54, com sede na Rua Alvares Cabral, 200, sala
    404, Bairro do Recife, cidade do Recife/PE, CEP: 50.030-160, representada na forma de seu CONTRATO Social, doravante
    designado simplesmente&nbsp;<strong>CONTRATADA;</strong></p>
<p>&nbsp;</p>
<p>Para melhor configura&ccedil;&atilde;o das cl&aacute;usulas e condi&ccedil;&otilde;es do presente CONTRATO, resolvem
    as partes fazer as seguintes considera&ccedil;&otilde;es:</p>
<p>&nbsp;</p>
<p><em>CONSIDERANDO&nbsp;</em>que a CONTRATADA possibilita o acesso de seus clientes a cadeia de
    institui&ccedil;&otilde;es certificadoras da Infraestrutura de Chaves P&uacute;blicas Brasileiras &ndash;
    ICP-Brasil, criada atrav&eacute;s da Medida Provis&oacute;ria n&ordm; 2.200-2, de 24 de agosto de 2001, conferindo
    aos seus documentos eletr&ocirc;nicos garantia de autenticidade, integridade e validade jur&iacute;dica;</p>
<p>&nbsp;</p>
<p><em>CONSIDERANDO&nbsp;</em>que os membros da cadeia do ICP-Brasil est&atilde;o subordinados as normas estabelecidas
    pelo Comit&ecirc; Gestor das institui&ccedil;&otilde;es certificadoras, &oacute;rg&atilde;o vinculado &agrave; Casa
    Civil da Presid&ecirc;ncia da Rep&uacute;blica e que, por isso mesmo, est&aacute; autorizada a realizar
    certifica&ccedil;&atilde;o e carimbo de temporalidade de documentos digitais, sendo poss&iacute;vel atestar a
    preserva&ccedil;&atilde;o das informa&ccedil;&otilde;es de forma leg&iacute;tima nestes documentos a partir
    da&iacute;;</p>
<p>&nbsp;</p>
<p><em>CONSIDERANDO&nbsp;</em>que o certificado digital viabilizado pela CONTRATADA protege o arquivo enviado pela
    CONTRATANTE, atrav&eacute;s de criptografias distintas de fontes variadas e incomunic&aacute;veis, por meio de
    procedimento padronizado pela administra&ccedil;&atilde;o p&uacute;blica federal, garantindo a
    identifica&ccedil;&atilde;o se sua autenticidade permaneceu integra desde sua assinatura;</p>
<p>&nbsp;</p>
<p><em>CONSIDERANDO&nbsp;</em>que a certifica&ccedil;&atilde;o digital torna-se instrumento indispens&aacute;vel em
    casos de viola&ccedil;&atilde;o do arquivo(s)</p>
<p>&nbsp;</p>
<p class="fileNames"></p>
<p>&nbsp;</p>
<p>e serve como meio de prova da integridade, e originalidade do referido arquivo desde sua assinatura at&eacute; a data
    do lit&iacute;gios judiciais ou da necessidade de comprova&ccedil;&atilde;o de sua autenticidade do referido
    arquivo;</p>
<p>&nbsp;</p>
<p><em>CONSIDERANDO&nbsp;</em>que o CONTRATANTE declarou serem verdadeiras, sob as penas da lei, as
    informa&ccedil;&otilde;es referentes a seus dados cadastrais na eventualidade do preenchimento do formul&aacute;rio
    de cadastro no Sistema HoodID, bem como que o CONTRATANTE declara serem ver&iacute;dicas as
    informa&ccedil;&otilde;es no documento registrado no Software em quest&atilde;o, e que as informa&ccedil;&otilde;es
    contidas nesse documento, s&atilde;o l&iacute;citas na forma da lei;</p>
<p>&nbsp;</p>
<p><em>CONSIDERANDO&nbsp;</em>que o CONTRATANTE adquiriu, previamente, cr&eacute;ditos em moeda BRL no Sistema HoodID,
    e, por fim;</p>
<p>&nbsp;</p>
<p><em>CONSIDERANDO&nbsp;</em>que as partes acima qualificadas t&ecirc;m interesse em celebrar o presente CONTRATO de
    Presta&ccedil;&atilde;o de Servi&ccedil;o por livre e espont&acirc;nea vontade e na melhor forma do direito, o que
    fazem em conformidade com as cl&aacute;usulas e condi&ccedil;&otilde;es abaixo pactuadas<em>,&nbsp;</em>definem por
    contratar o seguinte.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>CL&Aacute;USULA PRIMEIRA&nbsp;</strong><strong>&ndash; DO OBJETO:</strong></p>
<p>&nbsp;</p>
<ol>
    <li>
        <p>O objeto do CONTRATO &eacute; servir de ve&iacute;culo entre o CONTRATANTE e a autoridade de carimbo de tempo
            do ICP-Brasil para a efetiva&ccedil;&atilde;o de arquivo(s) digitai(s) relacionado(s), sem a
            responsabilidade de arquivamento do(s) mesmo(s) pela CONTRATATADA, levando-se em considera&ccedil;&atilde;o
            as informa&ccedil;&otilde;es prestadas no formul&aacute;rio de registro anteriormente preenchido pelo
            CONTRATANTE.<strong>.</strong></p>
    </li>
</ol>
<p>&nbsp;</p>
<p>PAR&Aacute;GRAFO PRIMEIRO. O presente CONTRATO possui um n&uacute;mero &uacute;nico e exclusivo, tendo sua validade
    jur&iacute;dica aceita com a chave digital gerada com base no arquivo(s)</p>
<p><strong class="fileNames"></strong></p>
<p>&nbsp;</p>
<p>PAR&Aacute;GRAFO SEGUNDO. A validade jur&iacute;dica do mencionado certificado digital ser&aacute; garantido, desde
    que o arquivo digital n&atilde;o seja alterado pelo CONTRATANTE, ou de qualquer outra forma;</p>
<p>&nbsp;</p>
<p>PAR&Aacute;GRAFO TERCEIRO. N&atilde;o faz parte do objeto do presente CONTRATO a an&aacute;lise de m&eacute;rito
    quanto ao conte&uacute;do dos arquivos submetidos e certificados pela ferramenta da Hoodid, incluindo
    verifica&ccedil;&atilde;o de integridade dos dados do arquivo, antes ou depois de sua certifica&ccedil;&atilde;o,
    portanto, o CONTRATANTE deve abrir os arquivos, a fim de verificar se n&atilde;o houve algum problema que tenha
    vindo a corromper os dados no interior do arquivo, nem, tampouco, representar o CONTRATANTE em processos
    administrativos e judiciais.</p>
<p>&nbsp;</p>
<p>PAR&Aacute;GRAFO QUARTO. O CONTRATANTE declara que tem conhecimento da necessidade de armazenar seus arquivos, com as
    respectivas chaves digitais, em ambiente pr&oacute;prio e mantido pelo pr&oacute;prio CONTRATANTE, POIS O PRESENTE
    CONTRATO N&Atilde;O CONTEMPLA, O ARMAZENAMENTO E GUARDA DOS DOCUMENTOS CERTIFICADOS PELA CONTRATADA.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>CL&Aacute;USULA SEGUNDA&nbsp;</strong><strong>&ndash; DO PRE&Ccedil;O:</strong></p>
<p>&nbsp;</p>
<ol start="2">
    <li
        <p>O pre&ccedil;o l&iacute;quido, certo e exig&iacute;vel pelo qual o CONTRATANTE pagar&aacute; &agrave;
            CONTRATADA para execu&ccedil;&atilde;o do(s) servi&ccedil;o(s) relacionado(s) na cl&aacute;usula primeira
            ser&aacute; de R$ 4,00 (quatro reais), a ser pago em moeda BRL, atrav&eacute;s dos cr&eacute;ditos previamente adquiridos
            pelo CONTRATANTE, no Sistema HoodID, ou conforme acordo entre as partes.</p>
    </li>
</ol>
<p>&nbsp;</p>
<p>PAR&Aacute;GRAFO &Uacute;NICO. &Eacute; assegurado &agrave; CONTRATADA o direito de manter em seus arquivos, por um
    per&iacute;odo que n&atilde;o pode ultrapassar 05 (cinco) dias corridos, o conte&uacute;do do(s) arquivo(s)
    relacionado(s) na cl&aacute;usula primeira do presente CONTRATO, em sua originalidade, no decorrer desse prazo, o
    CONTRATANTE dever&aacute; providenciar a copia do(s) referido(s) arquivo(s), para um ambiente mantido pelo
    pr&oacute;prio CONTRATANTE, pois esse contrato, n&atilde;o contempla o armazenamento e guarda dos documentos, e
    ap&oacute;s os 05 dias corridos, faculta a CONTRATADA apagar o(s) referido(s) arquivo(s).</p>
<p>&nbsp;</p>
<p><strong>CL&Aacute;USULA TERCEIRA&nbsp;</strong><strong>&ndash; DAS OBRIGA&Ccedil;&Otilde;ES:</strong></p>
<p>&nbsp;</p>
<ol start="3">
    <li>
        <p>S&atilde;o obriga&ccedil;&otilde;es das partes:</p>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <p><strong>DO CONTRATANTE:</strong></p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol start="1">
                    <li>
                        <p>Realizar o preenchimento do formul&aacute;rio de cadastro &agrave; disposi&ccedil;&atilde;o
                            no Sistema HoodID, fornecendo as informa&ccedil;&otilde;es necess&aacute;rias para a
                            identifica&ccedil;&atilde;o para a certifica&ccedil;&atilde;o do(s) arquivo(s) de forma
                            l&iacute;cita e ver&iacute;dica;</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol start="2">
                    <li>
                        <p>Realizar a aquisi&ccedil;&atilde;o de cr&eacute;ditos para posterior efetiva&ccedil;&atilde;o
                            do registro, tudo atrav&eacute;s do Sistema HoodID, ou por outra forma pactuada entre as
                            partes;</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol start="3">
                    <li>
                        <p>Assumir a responsabilidade pela verifica&ccedil;&atilde;o pr&eacute;via da exist&ecirc;ncia
                            CONTRATO, bem como, pelo encaminhamento definitivo do pedido de certifica&ccedil;&atilde;o
                            &agrave; CONTRATADA, atrav&eacute;s do Sistema HoodID;</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol start="4">
                    <li>
                        <p>Manter uma c&oacute;pia do arquivo enviado ao Sistema HoodID em sua originalidade, sem
                            qualquer altera&ccedil;&atilde;o, inclusive sem editar e/ou salvar na &iacute;ntegra, sob
                            pena de perder autenticidade;</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<ol>
    <li>
        <ol>
            <li>
                <ol start="5">
                    <li>
                        <p>Se responsabilizar por quaisquer custos para o armazenamento dos documentos e das chaves
                            digitais submetidas ao Sistema HoodID.</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol start="2">
            <li>
                <p><strong>DA CONTRATADA:</strong></p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol start="1">
                    <li>
                        <p>na eventualidade do cadastramento no Sistema HoodID;Manter sigilo das
                            informa&ccedil;&otilde;es recebidas pelo CONTRATANTE,</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol start="2">
                    <li>
                        <p>Fornecer o mencionado certificado digital contendo a rela&ccedil;&atilde;o com o(s)
                            arquivo(s) relacionado(s) na cl&aacute;usula primeira do presente CONTRATO;</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol start="3">
                    <li>
                        <p>Possibilitar a certifica&ccedil;&atilde;o digital com carimbo de temporalidade do(s)
                            arquivo(s) relacionado(s) na cl&aacute;usula primeira do presente CONTRATO, em sua
                            originalidade;</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol start="4">
                    <li>
                        <p>Fornecer Nota(s) Fiscal(is) pelo(s) servi&ccedil;o(s) prestado(s);</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol start="5">
                    <li>
                        <p>Manter estrutura administrativa e t&eacute;cnica para atender ao CONTRATANTE, pela Internet,
                            no que tange a eventuais informa&ccedil;&otilde;es acerca da certifica&ccedil;&atilde;o
                            do(s) arquivo(s) digital (is) relacionado(s) na cl&aacute;usula primeira do presente
                            CONTRATO, em sua originalidade.</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>CL&Aacute;USULA QUARTA&nbsp;</strong><strong>&ndash; DA IRREVOGABILIDADE E IRRETRATABILIDADE:</strong></p>
<p>&nbsp;</p>
<ol start="4">
    <li>
        <p>O presente CONTRATO &eacute; firmado em car&aacute;ter irrevog&aacute;vel e irretrat&aacute;vel, n&atilde;o
            cabendo arrependimento, obrigando-se as partes a cumprirem por si, seus herdeiros e sucessores, a qualquer
            t&iacute;tulo.</p>
    </li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>CL&Aacute;USULA QUINTA&nbsp;</strong><strong>&ndash; DA CONFIDENCIALIDADE:</strong></p>
<p>&nbsp;</p>
<ol start="5">
    <li>
        <p>Cada uma das partes se obriga, sob pena de indeniza&ccedil;&atilde;o por perdas e danos e
            aplica&ccedil;&atilde;o de multa de 10% sob o benef&iacute;cio econ&ocirc;mico auferido, a manter em
            absoluto sigilo e confidencialidade todas as informa&ccedil;&otilde;es decorrentes deste CONTRATO, dados ou
            especifica&ccedil;&otilde;es a que tiver acesso ou que porventura venha a conhecer ou ter ci&ecirc;ncia
            sobre a(s) obra(s) intelectual(is) relacionada(s) na cl&aacute;usula primeira do presente CONTRATO,
            usando-as somente para os fins desta rela&ccedil;&atilde;o CONTRATUAL, sem preju&iacute;zo das
            obriga&ccedil;&otilde;es de revela&ccedil;&atilde;o ou dos reportes exigidos em lei ou por ordem judicial.
        </p>
    </li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>CL&Aacute;USULA SEXTA&nbsp;</strong><strong>&ndash; DAS HIP&Oacute;TESES DE RESOLU&Ccedil;&Atilde;O DO
        PRESENTE CONTRATO</strong></p>
<p>&nbsp;</p>
<ol start="6">
    <li>
        <p>O presente instrumento CONTRATUAL ser&aacute; resolvido pelas seguintes hip&oacute;teses:</p>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol start="1">
            <li>
                <p>Este CONTRATO ser&aacute; rescindido de pleno direito, independentemente de
                    notifica&ccedil;&atilde;o, interpela&ccedil;&atilde;o judicial ou extrajudicial, na hip&oacute;tese
                    de fal&ecirc;ncia, recupera&ccedil;&atilde;o judicial ou extrajudicial ou insolv&ecirc;ncia da
                    CONTRATADA, decretada ou requerida.</p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol start="2">
            <li>
                <p>Tamb&eacute;m motiva a rescis&atilde;o de pleno direito, e sem preju&iacute;zo da multa
                    compensat&oacute;ria no valor equivalente &agrave; 10% sob o beneficio econ&ocirc;mico gerado, o
                    n&atilde;o cumprimento pelo CONTRATANTE de qualquer das cl&aacute;usulas ou obriga&ccedil;&otilde;es
                    dispostas neste CONTRATO, ou ainda se ocorrer qualquer das seguintes hip&oacute;teses:</p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol>
                    <li>
                        <p>Se o CONTRATANTE n&atilde;o pagar quaisquer taxas, comiss&otilde;es ou quaisquer outros
                            encargos eventualmente cobrados ou se recusar a faz&ecirc;-lo;</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol start="2">
                    <li>
                        <p>Se o CONTRATANTE, sem autoriza&ccedil;&atilde;o da CONTRATADA, (i) ceder ou transferir para
                            terceiros, emprestar-lhes ou entregar-lhes as informa&ccedil;&otilde;es constantes neste
                            CONTRATO, na assessoria jur&iacute;dica ou qualquer outro materiais que receber em virtude
                            deste CONTRATO. As veda&ccedil;&otilde;es aqui previstas s&atilde;o v&aacute;lidas e
                            aplic&aacute;veis para filiais e empresas do mesmo grupo econ&ocirc;mico do CONTRATANTE;</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol start="3">
                    <li>
                        <p>Se qualquer das informa&ccedil;&otilde;es escritas ou verbais dadas pelo CONTRATANTE,
                            incluindo, mas n&atilde;o se limitando, &agrave;quelas constantes do Formul&aacute;rio de
                            Afilia&ccedil;&atilde;o ao Sistema HoodID, representa&ccedil;&atilde;o legal e dados
                            cadastrais do CONTRATANTE, n&atilde;o corresponderem com a verdade ou n&atilde;o forem
                            atualizadas pelo CONTRATANTE em, no m&aacute;ximo 90 (noventa) dias, em caso de
                            altera&ccedil;&atilde;o;</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <ol start="4">
                    <li>
                        <p>Caso fortuito, ou for&ccedil;a maior que impe&ccedil;am o cumprimento deste CONTRATO.</p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<p><strong>PAR&Aacute;GRAFO &Uacute;NICO.&nbsp;</strong>Nos casos previstos nesta Cl&aacute;usula, a CONTRATADA
    n&atilde;o estar&aacute; obrigada a cumprir o prazo de 30 (trinta) dias podendo efetivar a rescis&atilde;o no
    momento de sua ci&ecirc;ncia da ocorr&ecirc;ncia de quaisquer das hip&oacute;teses acima.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>CL&Aacute;USULA S&Eacute;TIMA&nbsp;</strong><strong>&ndash; DAS CONDI&Ccedil;&Otilde;ES GERAIS:</strong></p>
<p>&nbsp;</p>
<ol start="7">
    <li>
        <p>O presente instrumento CONTRATUAL ser&aacute; regido pelas seguintes condi&ccedil;&otilde;es gerais:</p>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol>
            <li>
                <p>Sem preju&iacute;zo das demais cl&aacute;usulas e condi&ccedil;&otilde;es constantes deste CONTRATO,
                    a CONTRATADA n&atilde;o se responsabilizar&aacute; por erro de informa&ccedil;&atilde;o prestada
                    pelo CONTRATANTE, corrup&ccedil;&atilde;o de arquivos digitais, mesmo que decorrentes da
                    presta&ccedil;&atilde;o do servi&ccedil;o, pois cabe a CONTRATANTE a verifica&ccedil;&atilde;o,
                    antes e depois da certifica&ccedil;&atilde;o, infra&ccedil;&atilde;o e/ou descumprimento de qualquer
                    legisla&ccedil;&atilde;o aplic&aacute;vel &agrave; utiliza&ccedil;&atilde;o e
                    explora&ccedil;&atilde;o do(s) arquivo(s) digital(is) relacionado(s) na cl&aacute;usula primeira do
                    presente CONTRATO, sendo que, na hip&oacute;tese da CONTRATADA vir a sofrer ou suportar qualquer
                    perda e/ou preju&iacute;zo, por culpa ou dolo do CONTRATANTE, ficar&aacute; o CONTRATANTE obrigado a
                    proceder ao reembolso e/ou indeniza&ccedil;&atilde;o por perdas e danos, &agrave; CONTRATADA, de
                    tais valores, incluindo, mas sem se limitar, despesas relacionadas &agrave; custas administrativas
                    e/ou judiciais, taxas, emolumentos e honor&aacute;rios advocat&iacute;cios, devidamente atualizados
                    de acordo com a varia&ccedil;&atilde;o do &iacute;ndice IGP-M/FGV, ou outro que vier a
                    substitu&iacute;-lo;</p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol start="2">
            <li>
                <p>Todos os dados fornecidos para o pedido de certifica&ccedil;&atilde;o s&atilde;o capturados de forma
                    l&iacute;cita, destarte, qualquer ilicitude encontrada levar&aacute; o CONTRATANTE a responder
                    processo c&iacute;vel e criminal pelos atos cometidos;</p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol start="3">
            <li>
                <p>A eventual toler&acirc;ncia da CONTRATADA no descumprimento das obriga&ccedil;&otilde;es CONTRATUAIS
                    por parte do CONTRATANTE n&atilde;o constituir&aacute; nova&ccedil;&atilde;o, ren&uacute;ncia ou
                    modifica&ccedil;&atilde;o do CONTRATO, podendo a parte prejudicada exigir, a qualquer tempo, o
                    cumprimento das obriga&ccedil;&otilde;es aqui previstas;</p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol start="4">
            <li>
                <p>A eventual declara&ccedil;&atilde;o judicial de nulidade de qualquer das cl&aacute;usulas deste
                    CONTRATO, n&atilde;o implicar&aacute; na nulidade das demais cl&aacute;usulas, levando-se em
                    considera&ccedil;&atilde;o que o presente CONTRATO dever&aacute; ser interpretado de modo a
                    assegurar a sobreviv&ecirc;ncia de todas as suas disposi&ccedil;&otilde;es.</p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol start="5">
            <li>
                <p>Ao aderir a este CONTRATO, o CONTRATANTE autoriza a CONTRATADA a incluir, sem qualquer &ocirc;nus
                    para esta &uacute;ltima, seu nome em a&ccedil;&otilde;es de marketing, cat&aacute;logos e outros
                    materiais promocionais do Sistema HoodID com a finalidade de divulga&ccedil;&atilde;o e
                    desenvolvimento de produtos oferecidos pela CONTRATADA.</p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol start="6">
            <li>
                <p>O CONTRATANTE est&aacute; ciente que na eventualidade de qualquer problema decorrente da
                    certifica&ccedil;&atilde;o realizada no Sistema HoodID n&atilde;o ser&aacute; responsabilidade da
                    CONTRATADA e sim da CONTRATANTE.</p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol start="7">
            <li>
                <p>Para os fins deste CONTRATO, o CONTRATANTE autoriza e concorda que a CONTRATADA mantenha um banco de
                    dados com suas informa&ccedil;&otilde;es cadastrais, podendo us&aacute;-los plenamente para a
                    consecu&ccedil;&atilde;o do objeto do presente instrumento.</p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol start="8">
            <li>
                <p>O CONTRATANTE tem ci&ecirc;ncia e est&aacute; de acordo que a CONTRATADA poder&aacute; encaminhar
                    todos os dados do(s) arquivo(s) digital(is) relacionado(s) na cl&aacute;usula primeira do presente
                    CONTRATO, em sua originalidade, incluindo logins de acesso, aos &oacute;rg&atilde;os estatais com
                    compet&ecirc;ncia para investiga&ccedil;&atilde;o de crimes ou conflitos de interesses, tais como,
                    mas n&atilde;o se resumindo a, Receita Federal do Brasil, Pol&iacute;cia Federal, Poder
                    Judici&aacute;rio em qualquer de suas inst&acirc;ncias, dentre outros.</p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<ol>
    <li>
        <ol start="9">
            <li>
                <p>O presente CONTRATO passa a vigorar com o aceite eletr&ocirc;nico, bem como leitura e
                    compreens&atilde;o dos&nbsp;<a href="https://www.lealmarcasepatentes.com.br/termos/">Termos e
                        Condi&ccedil;&otilde;es</a>&nbsp;e&nbsp;<a
                        href="https://www.lealmarcasepatentes.com.br/politica-de-privacidade/">Pol&iacute;ticas de
                        Privacidade</a>&nbsp;deste portal de servi&ccedil;os. Fica presente no website da CONTRATADA, em
                    todo o momento da contrata&ccedil;&atilde;o do servi&ccedil;o, o&nbsp;<a
                        href="https://www.lealmarcasepatentes.com.br/fale-conosco/">Fale Conosco</a>, para dirimir
                    d&uacute;vidas eventuais referentes a certifica&ccedil;&atilde;o digital de documentos.</p>
            </li>
        </ol>
    </li>
</ol>
<p>&nbsp;</p>
<p><strong>CL&Aacute;USULA</strong><strong>&nbsp;</strong><strong>&ndash; DO FORO.</strong></p>
<p>&nbsp;</p>
<ol start="8">
    <li>
        <p>As partes contratantes elegem o foro da Comarca do São Paulo-SP, como o &uacute;nico competente para processar e
            julgar quaisquer lit&iacute;gios judiciais que direta ou indiretamente decorram do presente CONTRATO,
            renunciando, expressamente a qualquer outro, por mais privilegiado que seja.</p>
    </li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p class="text-center"><strong>***************************************</strong></p>
<p>&nbsp;</p>