{% extends 'base_bootstrap.html' %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-lg-6 offset-lg-3 mt-5">
            <form method="POST" action="" class="form-group mt-5">
                {% csrf_token %}
                <label for="">Buscar Registro</label>
                <input name="code" placeholder="Código do Registro" type="text" class="form-control">
                <button type="submit" class="btn btn-success btn-block mt-3">Buscar</button>
            </form>
        </div>

        {% if busca == True %}
        {% if r %}
        <div class="col-12">
            <p class="h3 text-center text-primary py-1">
                O certificado número {{r.arquivo.code}} foi realizado na Hoodid.com <br>
                às {{r.data|time:"h:i"}} do dia {{r.data|date:'d-m-Y'}} e corresponde <br>
                a registro de declaração de autoria da obra {% if r.arquivo.resume %}{{r.arquivo.resume}}{% else %}{{r.arquivo.name}}{%endif%}
            </p>
        </div>
        {% else %}
        <div class="col-12">
            <p class="h3 text-center text-danger py-1">
                O certificado número {{code}}, <br>
                não foi encontrado em nosso banco de registros.
            </p>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>

{% endblock content %}