{% extends 'base_bootstrap.html' %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-lg-6 offset-lg-3 mt-5">
            <form method="POST" action="" class="form-group mt-5">
                {% csrf_token %}
                <label for="">Buscar Registro</label>
                <input name="code" placeholder="Código do Registro" type="text" class="form-control">
                <button type="submit" class="btn btn-success btn-block mt-3">Buscar</button>
            </form>
        </div>

        {% if busca == True %}
        {% if registro %}
        <div class="col-12 mt-5 bg-light">
            <table class="table table-striped">
                <thead>
                    <th scope="col">Serviço</th>
                    <th scope="col">Título da Obra</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">hora</th>
                    <th scope="col">Versão</th>
                </thead>
                <tbody>
                    {% for r in registro %}
                    <tr>
                        <td>{{r.codservico.nome}}</td>
                        {% if r.arquivo.resume %}
                        <td>{{r.arquivo.resume}}</td>
                        {% else %}
                        <td>{{r.arquivo.name}}</td>
                        {% endif %}
                        <td>R$ {{r.valor}}</td>
                        <td>{{r.data|date:'d-m-Y'}}</td>
                        <td>{{r.data|time:"h:i"}}</td>
                        <td>{{r.arquivo.version}}</td>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="col-12">
            <p class="h3 text-center text-danger py-1">
                Registro não encontrado.
            </p>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>

{% endblock content %}