{% extends "base_bootstrap.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="float-right"><b>Dolar:</b> R$ {{dolar|floatformat:2 }} |  <b>Euro:</b> R$ {{euro|floatformat:2 }}</p>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table bg-light" style="opacity: 0.8;">
                    <thead>
                        <tr>
                            <th scope="col">SERVIÇO</th>
                            <th scope="col">VALOR R$</th>
                            <th scope="col">VALOR $</th>
                            <th scope="col">VALOR €</th>
                            <th scope="col">TAMANHO MÁXIMO</th>
                            <th scope="col">TIPO DE ARQUIVOS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in servicos %}
                        <tr>
                            <td>{{s.nome|upper}}</td>
                            <td>R$ {{s.preco}}</td>
                            <td>$ {{s.dolar |floatformat:2 }}</td>
                            <td>€ {{s.euro |floatformat:2 }}</td>
                            <td>{{s.tamanho}}MB</td>
                            <td>
                                {% for ex in s.extensoes.all %}
                                {{ex.nome|upper}}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}