{% extends 'base_bootstrap.html' %} {% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-12" style="padding-top: 5rem;">
            <h1>Esqueceu sua senha?</h1>
            <p>Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para configurar um novo.</p>
            <form class="form-group" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-lg-6 offset-lg-3">
                        {{ form.email.label_tag }}
                        <input class="form-control" type="email" name="email" maxlength="254" required="" id="id_email">
                        <input class="btn btn-success btn-block mt-2" type="submit" value="Enviar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}