{% extends 'base.html' %} {% block main %}

<div class="container">
    <div class="row">
        <div class="col s12 l8 offset-l2" style="padding-top: 8rem; padding-bottom: 8rem">
            <h1>Esqueceu sua senha?</h1>
            <p>Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para configurar um novo.</p>

            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <input class="btn" type="submit" value="Enviar">
            </form>
        </div>
    </div>
</div>

{% endblock %}