{% extends 'base_bootstrap.html' %} {% block content %}

<div class="container">
    <div class="row " style="padding-top: 2rem;">
        <div class="col-12 col-lg-6 offset-lg-3">
            <div class="row">
                <div class="col-12">
                    <h2>Defina uma nova senha!</h2>
                </div>
                <form class="form-group" method="POST">
                    {% csrf_token %} {% for field in form %}
                    <div class="col-12 my-2">
                        {{field.label_tag}} {{field}}
                        {{field.errors}}
                    </div>
                    {% endfor %}
                    <div class="col-12 my-2">
                        <input class="btn float-right" type="submit" value="Redefinir">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}