{% extends 'base_cadastro.html' %}
{% block navegar %}
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Cadastro de Clientes</a>
        <i class="Large material-icons right">assignment</i>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
           <li>
             <strong>Usuário</strong>
              {{user.username}}
             </li>

             {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block main %}
   <form  method="post" class="col 12">
    {% csrf_token %}
    <div class="row">

        <ul class="collection with-header">
          <li class="collection-header"><h4>Clientes</h4></li>

                   <li class="collection-item">

                       <!--LINHA 1-->
                       <div class="input-field col s5">

                           {{form.nome}}
                           {{form.nome.label_tag}}

                        </div>

                       <div class="input-field col s5">

                           {{form.email}}
                           {{form.email.label_tag}}

                        </div>

                       <div class="input-field col s2">

                           {{form.valor_credito}}
                           {{form.valor_credito.label_tag}}

                       </div>

                       <!--LINHA 2-->

                       <div class="input-field col s3">

                           {{form.telefone}}
                           {{form.telefone.label_tag}}

                       </div>

                       <div class="input-field col s3">

                           {{form.celular}}
                           {{form.celular.label_tag}}

                       </div>

                       <div class="input-field col s2">
                           <input type="date"  id="data_nascimento" name="data_nascimento">
                       </div>


                       <div class="input-field col s4">

                           {{form.sexo}}
                           {{form.sexo.errors}}

                       </div>


                      <!--LINHA 5-->
                       <div class="input-field col s6">

                           {{form.nome_mae}}
                           {{form.nome_mae.label_tag}}

                       </div>

                       <div class="input-field col s6">

                           {{form.nome_pai}}
                           {{form.nome_pai.label_tag}}

                       </div>


                       <!--LINHA 6-->
                       <div class="input-field col s2">

                           {{form.tipo_pessoa}}
                           {{form.tipo_pessoa.label_tag}}

                       </div>

                       <div class="input-field col s4">

                           {{form.cnpjcpf}}
                           {{form.cnpjcpf.label_tag}}

                       </div>



                       <div class="input-field col s3">

                           {{form.codindicacao}}
                          {{form.codindicacao.label_tag}}

                       </div>
                       <div class="input-field col s3">

                           {{form.senha}}
                           {{form.senha.label_tag}}

                       </div>


                   </li>


               </ul>

       <div class="input-field col s6">
        <button class="btn waves-effect 1565c0 blue darken-3" type="submit" name="action">Gravar
              <i class="material-icons right">done</i>
        </button>
      </div>

    </div>
   </form>
    <!--Import jQuery before materialize.js-->

{% endblock %}

{% block script %}
  <script>
    $(document).ready(function(){
        $('select').material_select();
        $('.datepicker').pickadate();
        $("#id_telefone").mask("(99) 99999-9999");
        $("#id_celular").mask("(99) 99999-9999");
        $("#id_cnpjcpf").mask("999.999.999-99");

        });
  </script>
{% endblock script %}

