{% extends "base_bootstrap.html" %}

{% load static %}

{% block content %}

<div class="container my-2 bg-light">
    <form method="post" class="form-group">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3 class="mt-5">Dados Pessoais</h3>
            </div>
            {% if messages %}
            <div class="col-12 col-lg-6 mt-5">
                <ul class="messages list-group">
                    {% for message in messages %}
                    <li class="list-group-item text-success text-center" {% if message.tags %}
                        class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            <div class="col-12 my-2">
                <label for="">Meu Link de indicação</label>
                <input class="form-control" type="text" readonly value="https://registrosonline.com.br{% url 'cliente:new' %}?indicacao={{object.meu_link_indicacao}}">
            </div>
            <div class="col-12 col-md-6 my-4">
                <label for="">Saldo</label>
                <input class="form-control" disabled type="text" value="{{user.clientes.get_credit}}">
            </div>
            <div class="col-12 col-md-6 my-4">
                <label for="">Pontuação</label>
                <input class="form-control" disabled type="text" value="0">
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2">
                <label for="">Nome</label>
                <input class="form-control" type="text" readonly value="{{object.nome}}">
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2">
                <label class="text-capitalize" for="">Data de Nascimento</label>
                <input class="form-control" type="text" readonly value="{{object.data_nascimento}}">
            </div>
            <div class="col-12 col-md-12 col-lg-4 my-2">
                <label for="">Sexo</label>
                <input class="form-control" type="text" readonly value="{{object.get_sexo}}">
            </div>

            <div class="col-12 col-md-12 col-lg-4 my-2">
                <label for="">Tipo de Documento de Identificação</label>
                {% if object.documento_tipo %}
                    <input class="form-control" type="text" value="{{object.documento_tipo}}" readonly>
                {% else %}
                    <input class="form-control" type="text" value="------" readonly>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2">
                <label class="text-capitalize" for="">Número do Documento de Identificação</label>
                {% if object.documento_identidade %}
                    <input class="form-control" type="text" readonly value="{{object.documento_identidade}}">
                {% else %}
                    <input class="form-control" type="text" value="------" readonly>
                {% endif %}
            </div>

            <div class="col-12 col-md-6 col-lg-4 my-2">
                <label class="text-capitalize" for="">CPF/CNPJ</label>
                <input class="form-control" type="text" readonly value="{{object.cnpjcpf}}">
            </div>

            <div class="col-12 col-md-6 col-lg-4 my-2">
                {{form.nacionalidade.label_tag}}
                <label class="text-capitalize" for="">nacionalidade</label>
                <input class="form-control" type="text" readonly value="{{object.nacionalidade}}">
            </div>

            <div class="col-12 col-md-6 col-lg-4 my-2">
                {% if object.passaporte is None %}
                {{form.passaporte.label_tag}}
                {{form.passaporte}}
                {% if form.passaporte.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.passaporte.errors}}
                </div>
                {% endif %}
                {% else %}
                <label class="text-capitalize" for="">passaporte</label>
                <input type="text" name="passaporte" maxlength="50" class="form-control" id="id_passaporte" readonly
                    value="{{object.passaporte}}">
                {% endif %}
            </div>

            <div class="col-12 col-md-12 col-lg-4 my-2">
                {{form.estadocivil.label_tag}}
                {% if object.estadocivil %}
                    {{form.estadocivil}}
                    {% if form.estadocivil.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{form.estadocivil.errors}}
                    </div>
                    {% endif %}
                {% else %}
                    <input class="form-control" type="text" value="------" readonly>
                {% endif %}
            </div>

            <div class="col-12 col-md-6 col-lg-4 my-2">
                {{form.telefone.label_tag}}
                {{form.telefone}}
                {% if form.telefone.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.telefone.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2">
                {{form.celular.label_tag}}
                {{form.celular}}
                {% if form.celular.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.celular.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-12 col-lg-4 my-2">
                <label for="">Como conheceu a Hoodid.com?</label>
                <input class="form-control" type="text" readonly value="{{object.codindicacao}}">
            </div>
            <div class="col-12 col-md-6 my-2">
                {% if object.nome_mae is None %}
                {{form.nome_mae.label_tag}}
                {{form.nome_mae}}
                {% if form.nome_mae.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.nome_mae.errors}}
                </div>
                {% endif %}
                {% else %}
                <label class="text-capitalize" for="">Nome do mãe</label>
                <input type="text" name="nome_mae" maxlength="100" class="form-control" id="id_nome_mae" readonly
                    value="{{object.nome_mae}}">
                {% endif %}
            </div>
            <div class="col-12 col-md-6 my-2">
                {% if object.nome_pai is None %}
                {{form.nome_pai.label_tag}}
                {{form.nome_pai}}
                {% if form.nome_pai.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.nome_pai.errors}}
                </div>
                {% endif %}
                {% else %}
                <label class="text-capitalize" for="">Nome do pai</label>
                <input type="text" name="nome_pai" maxlength="100" class="form-control" id="id_nome_pai" readonly
                    value="{{object.nome_pai}}">
                {% endif %}
            </div>

            <div class="col-12 col-md-6 my-2">
                {{form.codigo_promocional.label_tag}}
                {{form.codigo_promocional}}
                {% if form.codigo_promocional.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.codigo_promocional.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 my-2">
                {{form.link_indicacao.label_tag}}
                {{form.link_indicacao}}
                {% if form.link_indicacao.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.link_indicacao.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-12 col-lg-4 my-2">
                {{form_user.username.label_tag}}
                {{form_user.username}}
                {% if form_user.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form_user.username.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2">
                {{form_user.password1.label_tag}}
                {{form_user.password1}}
                {% if form_user.password1.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form_user.password1.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2">
                {{form_user.password2.label_tag}}
                {{form_user.password2}}
                {% if form_user.password2.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form_user.password2.errors}}
                </div>
                {% endif %}
            </div>
        </div>

        <h3 class="mt-5">Endereço</h3>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-2 my-2">
                {{form.pais.label_tag}}
                {{form.pais}}
                {% if form.pais.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.pais.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                {{form.cep.label_tag}}
                {{form.cep}}
                {% if form.cep.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.cep.errors}}
                </div>
                {% endif %}
            </div>

            <div class="col-12 col-md-6 col-lg-4 my-2">
                {{form.endereco.label_tag}}
                {{form.endereco}}
                {% if form.endereco.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.endereco.errors}}
                </div>
                {% endif %}
            </div>

            <div class="col-12 col-md-6 col-lg-2 my-2">
                {{form.numero.label_tag}}
                {{form.numero}}
                {% if form.numero.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.numero.errors}}
                </div>
                {% endif %}
            </div>

            <div class="col-12 col-md-6 col-lg-3 my-2">
                {{form.complemento.label_tag}}
                {{form.complemento}}
                {% if form.complemento.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.complemento.errors}}
                </div>
                {% endif %}
            </div>

            <div class="col-12 col-md-6 col-lg-4 my-2">
                {{form.cidade.label_tag}}
                {{form.cidade}}
                {% if form.cidade.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.cidade.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2">
                {{form.bairro.label_tag}}
                {{form.bairro}}
                {% if form.bairro.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.bairro.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-2 my-2">
                {{form.estado.label_tag}}
                {{form.estado}}
                {% if form.estado.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.estado.errors}}
                </div>
                {% endif %}
            </div>
        </div>
        <h3 class="mt-5">Informações</h3>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 my-2">
                {{form.nif.label_tag}}
                {{form.nif}}
                {% if form.nif.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.nif.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                {{form.facebook.label_tag}}
                {{form.facebook}}
                {% if form.facebook.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.facebook.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                {{form.twitter.label_tag}}
                {{form.twitter}}
                {% if form.twitter.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.twitter.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                {{form.homepage.label_tag}}
                {{form.homepage}}
                {% if form.homepage.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.homepage.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 my-2">
                {{form.atuacao.label_tag}}
                {{form.atuacao}}
                {% if form.atuacao.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.atuacao.errors}}
                </div>
                {% endif %}
            </div>
            <div class="col-12 my-2">
                {{form.biografia.label_tag}}
                {{form.biografia}}
                {% if form.biografia.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.biografia.errors}}
                </div>
                {% endif %}
            </div>
        </div>
        <button class="btn btn-block btn-success mt-2" type="submit" name="action">Salvar</button>
    </form>
</div>

{% endblock content %}

{% block header %}
<!--12 col-md-6 col-lg-4 my-2complete select2-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    .select2 {
        max-width: 100% !important;
    }

    .select2.select2-container.select2-container--default {
        display: block;
        width: 100%;
        padding: .220rem .90rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        /* margin-bottom: 8px */

    }

    .select2-container--default .select2-selection--single {
        border: none !important;
    }

    .select2-container--default .select2-selection--multiple {
        border: none !important;
    }

    span {
        outline: 0 !important;
        /*removendo outiline do select2 autocomplete*/
    }
</style>
{% endblock header %} {% block script %}
<!--12 col-md-6 col-lg-4 my-2complete select2-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
    integrity="sha256-Kg2zTcFO9LXOc7IwcBx1YeUBJmekycsnTsq2RuFHSZU=" crossorigin="anonymous"></script>

<script>
    var cpfMascara = function (val) {
        return val.replace(/\D/g, '').length > 11 ? '00.000.000/0000-00' : '000.000.000-009';
    },
        cpfOptions = {
            onKeyPress: function (val, e, nome, options) {
                nome.mask(cpfMascara.apply({}, arguments), options);
            }
        };

    $('#id_estado').select2(); //autocomplete select2
    $('#id_pais').select2(); //autocomplete select2
    $('#id_atuacao').select2(); //autocomplete select2

    $(document).ready(function () {
        $("#id_cep").mask("99999-999");
        $("#id_telefone").mask("(99) 99999-9999");
        $("#id_celular").mask("(99) 99999-9999");
        $("#id_data_nascimento").mask("99/99/9999");
        $('#id_cnpjcpf').mask(cpfMascara, cpfOptions);

        $('#id_cep').on('input', function (e) {
            let cep = $('#id_cep').val();
            if (cep.length == 9) {
                //Consulta o webservice viacep.com.br/
                $.getJSON("https://viacep.com.br/ws/" + cep + "/json/", function (dados) {
                    console.log('Buscando');
                    if (!("erro" in dados)) {
                        // console.log('deu certo');
                        //Atualiza os campos com os valores da consulta.
                        $("#id_endereco").val(dados.logradouro);
                        $("#id_bairro").val(dados.bairro);
                        $("#id_complemento").val(dados.complemento);
                        $("#id_cidade").val(dados.localidade);
                        $("#id_estado option[value=" + dados.uf + "]").attr('selected', 'selected');
                        let estado = $("#id_estado option[value=" + dados.uf + "]").html();
                        $("#estado_col input.select-dropdown").val(estado);
                        $('#select2-id_estado-container').html(estado);
                    }
                });
            }
        });

    });
</script>

{% endblock script %}