<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <title>Hoodid</title>
    <style>
        html,
        body {
            height: 100%;
            font-size: 11px !important;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block header %}{% endblock header %}
</head>

<body>
    {% load static %}
    <img width="213px" height="76px" src="{% static 'imgs/logo-hoodid.png' %}">
    <h4>
        {{description}}
    </h4>
    <p style="position: relative; right: 1px">{{today}}</p>
    <hr>

    {% block content %}
    {% endblock content %}

</body>

</html>