{% extends "tools/base_pdf.html" %}
{% load static %}

{% block content %}
<img width="213px" height="76px" src="{% static 'imgs/logo-hoodid.png' %}">
<p style="float: right">{{today}}</p>
<hr>
<ul class="list-group">
  {% for cliente in clientes %}
  <li class="list-group-item ">NOME: {{cliente.nome}}</li>
  <li class="list-group-item">EMAIL: {{cliente.id_usuario.username}}</li>
  <li class="list-group-item">CPF/CNPJ: {{cliente.cnpjcpf}}</li>
  <li class="list-group-item">DATA DE CADASTRO: {{cliente.data_cadastro}}</li>
  <li class="list-group-item">DATA DE NASCIMENTO: {{cliente.data_nascimento}}</li>
  <li class="list-group-item">
    {{cliente.cep}} - {{cliente.endereco}} - {{cliente.numero}} - {{cliente.bairro}} - 
    {{cliente.cidade}} - {{cliente.estado}} 
  </li>
  <li>
    <ul>
      <li>AREA DE ATUAÇÃO</li>
      {% for area in cliente.atuacao.all %}
        <li>{{area}}</li>
      {% endfor %}
        
    </ul>
  </li>
  <hr>
  {% endfor %}

</ul>

{% endblock content %}