{% extends "tools/base_pdf.html" %}

{% block thead %}
<tr style="border-bottom: 1px solid #000;">
  <th>NOME</th>
  <th>EMAIL</th>
  <th>CPF/CNPJ</th>
  <th>DATA DE NASCIMENTO</th>
  <th>DATA DE CADASTRO</th>
  <th>AREA DE ATUAÇÃO</th>
</tr>

{% endblock thead %}


{% block content %}

{% for cliente in queryset %}

<tr>
  <td>{{cliente.nome}}</td>
  <td>{{cliente.id_usuario.username}}</td>
  <td>{{cliente.cnpjcpf}}</td>
  <td>{{ cliente.data_nascimento | date:"d/m/Y" }}</td>
  <td>{{ cliente.data_cadastro | date:"d/m/Y" }}</td>
  <td>
    {% for area in cliente.atuacao.all %}
    {{area}} <br>
    {% endfor %}
  </td>
</tr>
<tr>
  <td> {{cliente.cep}}</td>
  <td>{{cliente.endereco}}</td>
  <td>{{cliente.numero}}</td>
  <td>{{cliente.bairro}}</td>
  <td>{{cliente.cidade}} - {{cliente.estado}}</td>
</tr>
<tr style="border-top: 1px solid #000;">
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
</tr>
{% endfor %}

{% endblock content %}