{% extends "tools/base_pdf.html" %}

{% block content %}
<ul class="list-group" style="font-size: 13px;">
  {% for registro in queryset %}
  <li class="list-group-item">NOME: {{registro.id_cliente.nome}}</li>
  <li class="list-group-item">DATA: {{registro.data}}</li>
  <li class="list-group-item">SERVIÇO: {{registro.codservico.nome}} </li>
  <!-- <li class="list-group-item">CPF/CNPJ: {{registro.id_cliente.cnpjcpf}}</li> -->
  <li class="list-group-item">VALOR: {{registro.valor}}</li>
  <hr>
  {% endfor %}

</ul>
{% endblock content %}