{% extends "tools/base_pdf.html" %}

{% block thead %}
<tr style="border-bottom: 1px solid #000;">
    <th>NOME</th>
    <th>VALOR</th>
    <!-- <th>DESCRICAO</th> -->
    <th>DATA DE CADASTRO</th>
    <th>DATA DE VALIDADE</th>
    <th>DATA DE RESGATE</th>
</tr>

{% endblock thead %}

nome – valor – descricao – data cadastro – data validade – data resgate

{% block content %}

{% for cod in queryset %}

<tr>
    <td>{{cod.nome}}</td>
    <td>{{cod.valor}}</td>
    <td>{{ cod.data_emissao | date:"d/m/Y" }}</td>
    <td>{{ cod.data_limite | date:"d/m/Y" }}</td>
    <td>{{ cod.data_resgate | date:"d/m/Y" }}</td>
</tr>
<tr style="border-top: 1px solid #000;">
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
</tr>
{% endfor %}

{% endblock content %}