{% extends "tools/base_pdf.html" %}

{% block thead %}
<tr style="border-bottom: 1px solid #000;">
  <th>NOME</th>
  <th>DATA</th>
  <th>CPF/CNPJ</th>
  <th>VALOR</th>
  <th>STATUS</th>
</tr>
{% endblock thead %}


{% block content %}
{% for compra in queryset %}
<tr>
  <td>{{compra.id_cliente.nome}}</td>
  <td>{{compra.data | date:"d/m/Y H:m:i"}}</td>
  <td>{{compra.id_cliente.cnpjcpf}}</td>
  <td>{{compra.valor}}</td>
  <td>{% if compra.autorizado %}Autorizado{% else %}Recusado{% endif %}</td>
</tr>
<tr style="border-top: 1px solid #000;">
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
</tr>
{% endfor %}

{% endblock content %}