{% extends "tools/base_pdf.html" %}

{% block thead %}
<tr style="border-bottom: 1px solid #000;">
    <th>NOME</th>
    <th>SERVIÇO</th>
    <th>VALOR</th>
    <th>QUANTIDADE</th>
</tr>
{% endblock thead %}


{% block content %}
{% for registro in queryset %}

<tr>
    <td>{{registro.cliente}}</td>
    <td>{{registro.servico}}</td>
    <td>{{registro.valor}}</td>
    <td>{{registro.quantidade}}</td>
</tr>
<tr style="border-top: 1px solid #000;">
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
</tr>
{% endfor %}

{% endblock content %}