{% extends "base.html" %}
{% load static %}
{% block header %}
<!--autocomplete select2-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    .select2 {
        max-width: 100% !important;
    }

    span {
        outline: 0 !important;
        /*removendo outiline do select2 autocomplete*/
    }
</style>
{% endblock header %} {% block script %}
<!--autocomplete select2-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
    $('select').select2(); //autocomplete select2
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.2.0/js/vendor/jquery.ui.widget.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.2.0/js/jquery.iframe-transport.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.2.0/js/jquery.fileupload.js"></script>
<!-- <script src="{% static 'registros/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script> -->
<!-- <script src="{% static 'registros/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script> -->
<!-- <script src="{% static 'registros/js/jquery-file-upload/jquery.fileupload.js' %}"></script> -->
<!-- <script src="{% static 'registros/js/basic-upload.js' %}"></script> -->
<script>
    // $(document).ready(function () {
    var fileExtension = [];
    var size = 0;
    var valor = 0;
    var extentions = ""
    var formData = new FormData()
    $('#id_codservico').change(function () {
        if ($(this).val() != "") {
            let url = "/api/servicos/" + $(this).val()
            formData.set('service', $(this).val());
            formData.set('csrfmiddlewaretoken', "{{ csrf_token }}")
            $.getJSON(url, function (data) {
                fileExtension = []
                data.extensoes.forEach(element => {
                    fileExtension.push(element.nome)
                    extentions += element.nome + ", "
                });
                extentions = extentions.substring(0, extentions.length - 2)
                size = data.tamanho;
            }).done(function (data) {
                valor = parseFloat(data.preco).toFixed(2)
                $("#tamanho").html(data.tamanho + "MB")
                $("#valor").html("R$ " + data.preco)
                $("#extentions").html("Extensões permitidas:" + "<br>" + extentions.toUpperCase())
                $("#extentions").addClass('grey')
            }).fail(function (resp) {
                alert('erro')
                $("#extentions").removeClass('grey')
            }).always(function (data) {
                // console.log(data)
                extentions = ""
            })
            $("#fileupload").removeAttr('disabled')
        } else {
            location.reload()
            // $("#fileupload").attr('disabled', true)
            // $("#extentions").html("")
            // $("#extentions").toggleClass('grey')

        }
    })


    $("#btn-upload").click(function () {
        if ($("#fileupload").prop('disabled')) {
            alert('selecione o serviço!')
        } else {
            $("#fileupload").click();
        }
    });

    function bytesToSize(bytes) {
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes == 0) return '0 Byte';
        var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
        return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
    }


    var is_valid = false;
    $("#fileupload").fileupload({
        url: "{% url 'base_upload' %}",
        dataType: 'json',
        sequentialUploads: true,  /* 1. SEND THE FILES ONE BY ONE */
        autoUpload: false,
        formData: formData,
        add: function (e, data) {
            // var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
            data.files.forEach(element => {
                // console.log(element)
                let extention = element.name.split('.').pop().toLowerCase()
                if ($.inArray(extention, fileExtension) == -1) {
                    alert("Somente arquivos no formato : " + fileExtension.join(', '));

                } else {
                    if ((element.size / Math.pow(1024, 2)) < size) {
                        data.submit()
                    } else {
                        let s = element.size / Math.pow(1024, 2)
                        let msg = 'seu arquivo possui ' + s.toFixed(2) + "MB e pode ter no maximo " + size + 'MB'
                        alert(msg)
                    }
                }
            });
        },
        start: function (e) {  /* 2. WHEN THE UPLOADING PROCESS STARTS, SHOW THE MODAL */
            // console.log(e)
        },
        stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */

        },
        progressall: function (e, data) {  /* 4. UPDATE THE PROGRESS BAR */
            var progress = parseInt(data.loaded / data.total * 100, 10);
            var strProgress = progress + "%";
            // console.log(strProgress)
            $(".determinate").css({ "width": strProgress });
            $(".determinate").text(strProgress);
            $("#percent").text(strProgress);
        },
        success: function (data) {
            // console.log(data)
            $("#registro-form").append(
                $('<input type="checkbox"/>').val(data.id)
                    .attr('name', 'files')
                    .attr('checked', true)
                    .attr('id', 'check_file' + data.id)

            )
            $('#total').html(data.price)
        },
        done: function (e, data) {
            //$("#total").html("10")
            $("#percent").text("concluido ;)");
            let result = data.result
            if (result.is_valid) {
                console.log(result)
                let str_func = 'remove_file("' + result.delete + '",' + result.id + ')'
                let new_description = $("#modal1").clone()
                new_description.attr('id', 'description' + result.id)
                new_description.children("p").html(result.name)
                $('body').append(new_description)
                $("#gallery tbody").prepend(
                    $("<tr>").append(
                        $('<td>').append(
                            $("<a>").html(result.name)
                                .attr('href', result.file)
                                .attr("target", "_blank")
                        ),
                        $('<td>').append(
                            $("<a>").html('Descrição')
                                .addClass('btn blue white-text')
                                .append(
                                    $('<i>').html('add').addClass('material-icons left')
                                )
                                .attr('onclick', "show_description('" + result.id + "')")

                        ),
                        $('<td>').append(
                            $("<a>").html("excluir").addClass('btn red white-text')
                                .addClass('delete_file')
                                .attr('link', result.delete)
                                .attr('style', 'cursor: pointer;')
                                .attr('onclick', str_func)
                        ),
                    ).attr('id', 'tr_file' + result.id)
                )
            }
            if (result.error) {
                alert(result.error)
            }
        },
        fail: function (e) {
            alert('erro')
        },
        always: function () {
            $(".determinate").css({ "width": "0%" });
            $("#percent").text("0%");
        }

    });

    $(".delete_file").on("click", function (event) {
        // alert('kdkdk')
        let url = $(this).attr('link')
        let element = $(this).closest("tr");
        element.fadeOut(1000)
        data = { "csrfmiddlewaretoken": "{{ csrf_token }}" }
        $.post(url, data, function (data) {

        }).fail(function (e, data) {
            element.fadeIn(005)
        }).done(function (data) {
            element.remove()
        }).always(function (data) {
            console.log(data)
        })
    })
    // })

    function remove_file(url, id) {
        let element = $("#tr_file" + id)
        element.fadeOut(1000)
        data = { "csrfmiddlewaretoken": "{{ csrf_token }}" }
        $.post(url, data, function (data) {

        }).fail(function (e, data) {
            element.fadeIn(005)
        }).done(function (data) {
            element.remove()
            $('#check_file' + id).remove()
        }).always(function (data) {
            console.log(data)
        })
    }

    function show_description(id) {
        console.log(id)
        $("#description" + id).modal({
            dismissible: false
        });
    }


   
</script>
{% endblock script %}