{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--    <head>-->
    <title>{% block titulo %}Hoodid Registros online{% endblock %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css'%}" media="screen,projection" />
    {% block header %}{% endblock header %} {% include 'components/menu/index.html' %}
</head>

<body type="overflow:hidden">
        {% block main %}{% endblock main %}
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->

        <script type="text/javascript">
            $(document).ready(function() {
                $('.slider').slider(); // inicializando slidshow
                $('.button-collapse').sideNav(); // menu dispositivos moveis
                $('.modal').modal(); // modal
                $('.collapsible').collapsible();
                $('.tooltipped').tooltip();
                $(".dropdown-trigger").dropdown();
                $('.parallax').parallax();
                $(".dropdown-button").dropdown({
                hover: false
                });
            });
       </script>

       <script>
        $('.dropdown-button').dropdown({
              container: document.body
            });
       </script>
       {% block script %}{% endblock script %}



{% include "modal_aguarde.html" %} {% include "components/footer.html" %}

</body>

</html>