{% extends "base.html" %} {% block main %}
{% load static %}
<div class="row">
    <div class="col s12 l10 offset-l1" style="padding: 3rem 0 5rem 0">
        <!--Melhorar design-->
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %} {% block form %}
            <div class="row">
                <div class="errornote">
                    <font color="red">
                        {{form.non_field_errors}}
                    </font>
                </div>

                {% for field in form %}
                <div class="col s12 m6">
                    {{field.label_tag}} <br> {{field}}
                    <div class="errornote">
                        <font color="red">
                            {{field.errors}}
                        </font>
                    </div>
                </div>
                {% endfor %} <br> {% for field in form_user %}
                <div class="col s12">
                    {{field.label_tag}} {{field}}
                    <div class="errornote">
                        <font color="red">
                            {{field.errors}}
                        </font>
                    </div>
                </div>
                {% endfor %}
                <!--
                    <p>Sua senha deve ter no mínimo 08 caracteres, composta por letras maiúsculas e minúsculas e números</p>
                -->
                <p class="errornote">
                    <font color="red">
                        {{form_user.non_field_errors}}
                    </font>
                </p>
            </div>
            <div class="row">
                <input class="btn col s12 m6" type="submit" value="Enviar">
            </div>
            {% endblock form %}
        </form>
    </div>
</div>
{% endblock main %}

{% block header %}
<!--autocomplete select2-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    .select2 {
        max-width: 100% !important;
    }

    span {
        outline: 0 !important;
        /*removendo outiline do select2 autocomplete*/
    }
</style>
{% endblock header %} {% block script %}
<!--autocomplete select2-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
    $('select').select2(); //autocomplete select2
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.2.0/js/vendor/jquery.ui.widget.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.2.0/js/jquery.iframe-transport.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.2.0/js/jquery.fileupload.js"></script>
<!-- <script src="{% static 'registros/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script> -->
<!-- <script src="{% static 'registros/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script> -->
<!-- <script src="{% static 'registros/js/jquery-file-upload/jquery.fileupload.js' %}"></script> -->
<!-- <script src="{% static 'registros/js/basic-upload.js' %}"></script> -->
<script>
    // $(document).ready(function () {
    var fileExtension = [];
    var size = 0;
    var valor = 0;

    $('#id_codservico').change(function () {
        if ($(this).val() != "") {
            let url = "/api/servicos/" + $(this).val()
            let extentions = ""
            $.getJSON(url, function (data) {
                fileExtension = []
                data.extensoes.forEach(element => {
                    fileExtension.push(element.nome)
                    extentions += element.nome + ", "
                });
                size = data.tamanho;

            }).done(function (data) {
                valor = parseFloat(data.preco).toFixed(2)
                $("#tamanho").html(data.tamanho + "MB")
                $("#valor").html("R$ " + data.preco)
                $("#extentions").html("Extensões permitidas:" + "<br>" + extentions.toUpperCase())
                $("#extentions").toggleClass('grey')
            }).fail(function (resp) {
                alert('erro')
            }).always(function (data) {
                // console.log(data)
            })
            $("#fileupload").removeAttr('disabled')
        } else {
            $("#fileupload").attr('disabled', true)
            $("#extentions").html("")
            $("#extentions").toggleClass('grey')

        }
    })


    $("#btn-upload").click(function () {
        if ($("#fileupload").prop('disabled')) {
            alert('selecione o serviço!')
        } else {
            $("#fileupload").click();
        }
    });

    function bytesToSize(bytes) {
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes == 0) return '0 Byte';
        var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
        return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
    }


    var is_valid = false;
    $("#fileupload").fileupload({
        dataType: 'json',
        sequentialUploads: true,  /* 1. SEND THE FILES ONE BY ONE */
        autoUpload: false,
        add: function (e, data) {
            // var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
            data.files.forEach(element => {
                // console.log(element)
                let extention = element.name.split('.').pop().toLowerCase()
                if ($.inArray(extention, fileExtension) == -1) {
                    alert("Somente arquivos no formato : " + fileExtension.join(', '));

                } else {
                    if ((element.size / Math.pow(1024, 2)) < size) {
                        data.submit()
                    } else {
                        let s = element.size / Math.pow(1024, 2)
                        let msg = 'seu arquivo possui ' + s.toFixed(2) + "MB e pode ter no maximo " + size + 'MB'
                        alert(msg)
                    }
                }
            });
        },
        start: function (e) {  /* 2. WHEN THE UPLOADING PROCESS STARTS, SHOW THE MODAL */
            // console.log(e)
        },
        stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */

        },
        progressall: function (e, data) {  /* 4. UPDATE THE PROGRESS BAR */
            var progress = parseInt(data.loaded / data.total * 100, 10);
            var strProgress = progress + "%";
            // console.log(strProgress)
            $(".determinate").css({ "width": strProgress });
            $(".determinate").text(strProgress);
            $("#percent").text(strProgress);
        },
        success: function (data) {
            // console.log(data)
            $("#registro-form").append(
                $('<input type="checkbox"/>').val(data.id)
                    .attr('name', 'files')
                    .attr('checked', true)

            )
            
            // let total = parseFloat($("#total").html())
            // total = total + valor
            // console.log(total)
            // console.log(valor)
            // $("#total").html(total.toFixed(2))

        },
        done: function (e, data) {
            $("#total").html("10")
            $(".determinate").css({ "width": "0%" });
            $("#percent").text("concluido ;)");
            let result = data.result
            if (result.is_valid) {
                $("#gallery tbody").prepend(
                    $("<tr>").append(
                        $('<td>').append(
                            $("<a>").html(result.name)
                                .attr('href', result.file)
                                .attr("target", "_blank")
                        ),
                        $('<td>').append(
                            $("<a>").html("excluir").addClass('red-text')
                        ).addClass('delete_file')
                            .attr('link', result.delete)
                            .attr('style', 'cursor: pointer;')
                    )
                )
                // $(document).ready()
            }
        },
        // always:function(){
        //     alert('teste')
        // }

    });

    $(".delete_file").on("click", function (event) {
        // alert('kdkdk')
        let url = $(this).attr('link')
        let element = $(this).closest("tr");
        element.fadeOut(1000)
        data = { "csrfmiddlewaretoken": "{{ csrf_token }}" }
        $.post(url, data, function (data) {

        }).fail(function (e, data) {
            element.fadeIn(005)
        }).done(function (data) {
            element.remove()
        }).always(function (data) {
            console.log(data)
        })
    })
    // })

</script>

{% endblock script %}