{% extends "base_bootstrap.html" %}


{% block header %}
<style>
    .parallax {
    /* Coloque a imagem a ser usada como background */
    background-image: url("https://www.hoodid.com/site/conteudo/arquivo_adm/imagens/2015/03/hoodid-site-1-1-20150303152132-banner-home-1-png.png");

    /* Defina uma altura para a visão que o usuário terá da imagem */
    min-height: 350px;

    /* defina o background como fixo e posicione a imagem */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }


    /* The hero image */
    .hero-image {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: url("https://www.hoodid.com/site/conteudo/arquivo_adm/imagens/2015/03/hoodid-site-1-1-20150303152132-banner-home-1-png.png");

        /* Set a specific height */
        height: 100%;

        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;


        /*background-position: center top;*/
        /*background-repeat: no-repeat;*/
        /*background-size: cover;*/
        background-attachment: fixed;

    }

    /* Place text in the middle of the image */
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* color: white; */
    }
</style>
{% endblock header %}

{% block content %}

<div class="hero-image">
    <div class="py-5">
        <h1 class="text-center mt-5  text-g">Direitos autorais com validade em 177 países. Online, fácil, rápido e
            seguro.
        </h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row bg-light py-3">
        <div class="col-12">
            <h4 class="text-g text-center">
                Ok, entendi. Agora, quero registrar minha obra.
            </h4>
        </div>
        <div class="col-4  offset-4 mt-2">
            <a class="btn btn-block btn-secondary text-capitalize" href="{% url 'login' %}">login</a>
        </div>
    </div>
</div>
{% include "home/fale_conosco.html" %}
{% endblock content %}

{% block script %}
<script>

    $('#contato-form').submit(function (e) {
        e.preventDefault()
        let url = "{% url 'home:contato' %}"
        let data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
        }
        let form = $(this)
        let formData = form.serializeArray()
        formData.forEach(element => {
            data[element.name] = element.value
        })
        $('#btn_contato').attr('disabled', true)
        $('#btn_contato').text('Aguarde..')
        $.post(url, data, function (data) {
            form.trigger("reset");
            alert(data.msg)
        }).fail(function(data){
            console.log(data)
            alert('ops! algo deu errado :(')
        }).always(function(){
            $('#btn_contato').removeAttr('disabled')
            $('#btn_contato').text('Enviar')
        })
    })

</script>
{% endblock script %}