{% extends "base_bootstrap.html" %}

{% block content %}
<div style="position: relative;">
    <h2 style="color: #2965b3; left: 20%; top: 30%; position: absolute; text-align: center">
        DIREITOS AUTORAIS COM VALIDADE EM 177 PAÍSES
        <br>ONLINE,
        FÁCIL, RÁPIDO E SEGURO</h2>
    <img
        src="https://www.hoodid.com/site/conteudo/arquivo_adm/imagens/2015/03/hoodid-site-1-1-20150303152132-banner-home-1-png.png"></a>
</div>

<div class="text-center bg-primary darken-1" style="padding: 1rem">
    <h4 style="color: white">
        Ok, entendi. Agora, quero registrar minha obra.
    </h4>
    <a class="btn px-5   btn-info" href="{% url 'login' %}">login</a>
</div>

{% endblock content %}

<center>

</center>

<center>
    <div class=" blue darken-1" style="padding: 1rem">
        <h4 style="color: white">
            Ok, entendi. Agora, quero registrar minha obra.
        </h4>
        <a class="btn blue" href="{% url 'login' %}">login</a>
    </div>
</center>