{% extends "base_bootstrap.html" %}


{% block header %}
<style>
    /* The hero image */
    .hero-image {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.hoodid.com/site/conteudo/arquivo_adm/imagens/2015/03/hoodid-site-1-1-20150303152132-banner-home-1-png.png");

        /* Set a specific height */
        height: 70%;

        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* Place text in the middle of the image */
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
</style>
{% endblock header %}

{% block content %}

<div class="hero-image">
    <div class="hero-text py-2">
        <h1 class="text-center text-primary">Direitos autorais com validade em 177 países. Online, fácil, rápido e
            seguro.
        </h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row bg-primary py-3">
        <div class="col-12">
            <h4 class="text-white text-center">
                Ok, entendi. Agora, quero registrar minha obra.
            </h4>
        </div>
        <div class="col-2 offset-5 mt-2">
            <a class="btn btn-block btn-info text-capitalize" href="{% url 'login' %}">login</a>
        </div>
    </div>
</div>
{% endblock content %}