{% load static %}
<nav class="grey darken-2">
    <div class="nav-wrapper">
        <!--logo-->
        <a style="z-index: 999;" href="#" class="brand-logo"><img src="{% static 'imgs/jetlogo.png' %}"></a>
        
        <!--botão menu mobile-->
        <a href="#" data-activates="menu-mobile" class="button-collapse">
            <i class="material-icons">menu</i>

        </a>


        <!--menus-->
        {% include 'components/menu/menu_desktop.html' %}
        {% include 'components/menu/menu_mobile.html' %}

    </div>
</nav>