<!--menu desktop-->
{% if user.is_authenticated and not request.user.is_superuser%}
     <div class="nav-wrapper">
      <a href="#" class="brand-logo center-align">

      </a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
   <li>
         <a href="#">
            <i class="material-icons left">perm_media</i>
            agencias
         </a>
   </li>

   <li>
          <a href="{% url 'resumo' %}">
                <i class="material-icons left">assignment</i>
                 Home
           </a>
   </li>

   <li>
         <a href="#">
             <i class="material-icons left">people</i>
                Anunciante
        </a>
    </li>

    <li>
        <a href="#">
            <i class="material-icons left">perm_media</i>
            Campanhas
        </a>
   </li>

   <li>
           <a href="#">
             <i class="material-icons left">exit_to_app</i>
             Sair
            </a>
   </li>
</ul>
{% endif %}

{% if user.is_authenticated and request.user.is_superuser %}
   <div class="nav-wrapper">
      <a href="#" class="brand-logo ">
      <i class="material-icons left">verified_user</i>
      </a>
   <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li>
                    <a href="#">
                        <i class="material-icons left">assignment</i>
                           Home
                    </a>
       </li>

       <li>
                    <a href="#">
                         <i class="material-icons left">web</i>
                            Meus Dados
                    </a>
       </li>

       <li>
                    <a href="#">
                         <i class="material-icons left">people</i>
                            Quem Somos
                    </a>
       </li>

       <li>
                    <a href="#">
                         <i class="material-icons left">web</i>
                            Registrar
                    </a>
       </li>

       <li>
                    <a href="#">
                         <i class="material-icons left">web</i>
                            Preços
                    </a>
       </li>

       <li>
                    <a href="#">
                        <i class="material-icons left">perm_media</i>
                        Meus Registros
                    </a>
       </li>

       <li>
                    <a href="#">
                        <i class="material-icons left">burst_mode</i>
                        Fale Conosco
                    </a>
       </li>

       <li>
                       <a href="{% url 'logout' %}">
                         <i class="material-icons left">exit_to_app</i>
                         Sair
                        </a>
                    </li>
       </ul>

{% endif %}

{% if not user.is_authenticated %}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
           <a href="{% url 'login' %}">
             <i class="material-icons left">home</i>
             home
            </a>
        </li>

        <li>
           <a href="{% url 'login' %}">
             <i class="material-icons left">assignment</i>
             Quem somos
            </a>
        </li>

        <li>
           <a href="{% url 'login' %}">
             <i class="material-icons left">enhanced_encryption</i>
             Registrar
            </a>
        </li>

        <li>
           <a href="{% url 'login' %}">
             <i class="material-icons left">monetization_on</i>
             Preços
            </a>
        </li>

        <li>
           <a href="{% url 'login' %}">
             <i class="material-icons left">mic</i>
             Depoimentos
            </a>

        </li>

        <li>
           <a href="{% url 'login' %}">
             <i class="material-icons left">email</i>
             Fale conosco
            </a>
        </li>

        <li>
           <a href="{% url 'login' %}">
             <i class="material-icons left">people</i>
             Cadastre-se
            </a>
         </li>

         <li>
           <a href="{% url 'login' %}">
             <i class="material-icons left">account_box</i>
             Login
            </a>
         </li>

     </ul>
{% endif %}
</div>