<!--menu mobile-->
<ul id="menu-mobile" class="side-nav">
    <li><a href="#">Motorista</a></li>
    <li><a href="#">Passageiro</a></li>
    <li><a href="#">Empresa</a></li>
    <li><a href="#">Quem somos</a></li>
    <li><a href="#">Contato</a></li>
    {% if user.is_authenticated %}
    <li>
        {% if user.motorista %}
        <a href="#">Painel
                </a> {% elif user.cliente %}
        <a href="#">Painel
                </a> {% elif user.funcionario %}
        <a href="#">Painel
                </a> {% endif %}
    </li>

    <li>
        <a href="#">Sair</a>
    </li>
    {% else %}
    <li>
        <a href="#">Entrar</a>
    </li>
    {% endif %}
</ul>