<!--https://materializecss.com/navbar.html-->
<!--https://materializecss.com/dropdown.html#!-->
<!--menu desktop-->
<!--ESTÁ LOGADO E NÃO É SUPER USUÁRIO-->
{% if user.is_authenticated and not request.user.is_superuser%}
     <div class="nav-wrapper">
      <a href="#" class="brand-logo center-align">

      </a>

<ul id="nav-mobile" class="right hide-on-med-and-down">

   <li>
          <a href="{% url 'resumo' %}">
                <i class="material-icons left">assignment</i>
                 Home
           </a>
   </li>

   <li>
         <a href="{% url 'upd_clientes' %}">
             <i class="material-icons left">people</i>
                Meus Dados
        </a>
    </li>

    <li>
        <a href="#">
            <i class="material-icons left">perm_media</i>
            Tabela Preços
        </a>
    </li>

    <li>
        <a href="#">
            <i class="material-icons left">perm_media</i>
            Registrar
        </a>
    </li>

    <li>
        <a href="#">
            <i class="material-icons left">perm_media</i>
            Meus Registros
        </a>
    </li>

    <li>
        <a href="#">
            <i class="material-icons left">perm_media</i>
            Fale Conosco
        </a>
    </li>

    <li>
       <a href="#">
         <i class="material-icons left">exit_to_app</i>
         Sair
        </a>
    </li>
</ul>
{% endif %}
<!--ESTÁ LOGADO E É SUPER USUÁRIO-->
{% if user.is_authenticated and request.user.is_superuser %}
   <div class="nav-wrapper">
      <a href="#" class="brand-logo ">
      <i class="material-icons left">verified_user</i>
      </a>

<!--
   <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li>
            <a href="#">
                <i class="material-icons left">assignment</i>
                   Home
            </a>
       </li>

       <li>
            <a href="#">
                 <i class="material-icons left">web</i>
                    Usuários
            </a>
       </li>

       <li>
            <a href="{% url 'lista_extensoes' %}">
                 <i class="material-icons left">people</i>
                    Extensões
            </a>
       </li>

       <li>
            <a href="{% url 'lista_servicos' %}">
                 <i class="material-icons left">web</i>
                    Serviços
            </a>
       </li>

       <li>
            <a href="{% url 'lista_indicacoes' %}">
                 <i class="material-icons left">web</i>
                    Indicações
            </a>
       </li>

       <li>
            <a href="#">
                <i class="material-icons left">perm_media</i>
                   Tabela de Preços
            </a>
       </li>

       <li>
            <a href="#">
                <i class="material-icons left">burst_mode</i>
                QRCode
            </a>
       </li>

       <li>
            <a href="#">
                <i class="material-icons left">burst_mode</i>
                Relatórios
            </a>
       </li>

       <li>
            <a href="#">
                <i class="material-icons left">burst_mode</i>
                Config
            </a>
       </li>

       <li>
           <a href="{% url 'logout' %}">
             <i class="material-icons left">exit_to_app</i>
             Sair
            </a>
        </li>
       </ul>

-->

    <!-- Dropdown Structure -->
    <ul id="dropdown" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>




{% endif %}
<!--NÃO ESTÁ LOGADO-->
{% if not user.is_authenticated %}

    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
           <a href="{% url 'login' %}">
             <i class="material-icons left">home</i>
             Home
           </a>
        </li>

        <li>
           <a href="#">
             <i class="material-icons left">assignment</i>
             Quem somos
            </a>
        </li>

        <li>
           <a href="{% url 'login' %}">
             <i class="material-icons left">enhanced_encryption</i>
             Registrar
            </a>
        </li>

        <li>
           <a href="#">
             <i class="material-icons left">monetization_on</i>
             Preços
            </a>
        </li>

        <li>
           <a href="#">
             <i class="material-icons left">mic</i>
             Depoimentos
            </a>
        </li>

        <li>
           <a href="#">
             <i class="material-icons left">email</i>
             Fale conosco
            </a>
        </li>

        <li>
           <a href="{% url 'novo_clientes' %}">
             <i class="material-icons left">people</i>
             Cadastre-se
            </a>
         </li>

         <li>
           <a href="{% url 'login' %}">
             <i class="material-icons left">account_box</i>
             Login
            </a>
         </li>

     </ul>

{% endif %}
<!--</div>-->
{% block script %}
  <script>
    $(document).ready(function(){
            $(".dropdown-trigger").dropdown();
    });
  </script>
{% endblock script %}
