{% extends "base_bootstrap.html" %}
{% load static %}
{% block header %}
<!--autocomplete select2-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    .select2 {
        max-width: 100% !important;
    }

    button,
    span {
        outline: 0 !important;
        /*removendo outiline do select2 autocomplete*/
    }
</style>
{% endblock header %} {% block script %}
<!--autocomplete select2-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
    $('select').select2(); //autocomplete select2
</script>

<script>
    // $(document).ready(function () {
    var fileExtension = [];
    var size = 0;
    var valor = 0;
    var extentions = ""
    var formData = new FormData()
    let url_up = "{% url 'base_upload' %}"
    var service_active = false

    $("#btn-upload").click(function () {
        if ($("#fileupload").prop('disabled')) {
            alert('selecione o serviço!')
        } else {
            $("#fileupload").click();
        }
    });

    function bytesToSize(bytes) {
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes == 0) return '0 Byte';
        var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
        return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
    }


    function upload(url_up) {
        $("#fileupload").fileupload({
            url: url_up,
            dataType: 'json',
            sequentialUploads: true,  /* 1. SEND THE FILES ONE BY ONE */
            autoUpload: false,
            // formData: formData,
            add: function (e, data) {
                // var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                data.files.forEach(element => {
                    // console.log(element)
                    let extention = element.name.split('.').pop().toLowerCase()
                    if ($.inArray(extention, fileExtension) == -1) {
                        alert("Somente arquivos no formato : " + fileExtension.join(', '));

                    } else {
                        if ((element.size / Math.pow(1024, 2)) < size) {
                            data.submit()
                        } else {
                            let s = element.size / Math.pow(1024, 2)
                            let msg = 'seu arquivo possui ' + s.toFixed(2) + "MB e pode ter no maximo " + size + 'MB'
                            alert(msg)
                        }
                    }
                });
            },
            start: function (e) {  /* 2. WHEN THE UPLOADING PROCESS STARTS, SHOW THE MODAL */
                // console.log(e)
            },
            stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */

            },
            progressall: function (e, data) {  /* 4. UPDATE THE PROGRESS BAR */
                var progress = parseInt(data.loaded / data.total * 100, 10);
                var strProgress = progress + "%";
                // console.log(strProgress)
                $(".progress-bar").css({ "width": strProgress });
                $(".progress-bar").text(strProgress);
            },
            success: function (data) {
                // console.log(data)
                $("#complete").append(
                    $('<input type="checkbox"/>').val(data.id)
                        .attr('name', 'files')
                        .attr('checked', true)
                        .attr('id', 'check_file' + data.id)
                        .addClass('d-none')

                )
                let price = parseFloat(data.price).toFixed(2).valueOf().replace('.',',')
                $('#total').html(price)
            },
            done: function (e, data) {
                //$("#total").html("10")
                $("#percent").text("concluido ;)");
                let result = data.result
                if (result.is_valid) {
                    service_active = true
                    // console.log(result)
                    let str_func = 'remove_file("' + result.delete + '",' + result.id + ')'
                    $("#gallery tbody").prepend(
                        $("<tr>").append(
                            $('<td>').append(
                                $("<a>").html(result.name)
                                    .attr('href', result.file)
                                    .attr("target", "_blank")
                                    .addClass('ml-5 text-white')
                            ).addClass('mt-2 pt-2'),
                            $('<td>').append(
                                $("<a>").html("excluir").addClass('btn btn-danger text-white ')
                                    .addClass('delete_file')
                                    .attr('link', result.delete)
                                    .attr('style', 'cursor: pointer;')
                                    .attr('onclick', str_func)
                            ).addClass("float-right"),
                        ).attr('id', 'tr_file' + result.id)
                    )
                    $('#description tbody').prepend(
                        $('<tr>').append(
                            $('<td>').append(
                                $('<label>').attr('for', 'desc_file' + result.id)
                                    .html(result.name),
                                $("<textarea>")
                                    .attr('id', 'desc_file' + result.id)
                                    .addClass('form-control form-control-lg resume')
                                    .attr('onchange', "myFunction('" + result.id + "')"),
                                $("<a>").html("Salvar").addClass('btn btn-primary text-white')
                                    .addClass('float-right mt-2')
                                    .attr('link', result.delete)
                                    .attr('style', 'cursor: pointer;')
                            ),
                        ).attr('id', 'tr_desc' + result.id)
                    )
                    $('#coautores').prepend(
                        $('<div>').append(
                            $('<div>').append(
                                $("<div>").append(
                                    $('<p>').text(result.name).addClass(),
                                ).addClass('col-12'),
                                $('<div>').append(
                                    $("<form>").append(
                                        $("<div>").append(
                                            $("<div>").append(
                                                $('<input type="text"/>')
                                                    .addClass('form-control')
                                                    .attr('placeholder', 'Nome')
                                                    .attr('name', "nome")
                                            ).addClass('col-12 col-lg-3 my-1'),
                                            $("<div>").append(
                                                $('<input type="text"/>')
                                                    .addClass('form-control')
                                                    .attr('placeholder', 'Documento')
                                                    .attr('name', "documento")
                                            ).addClass('col-12 col-lg-3 my-1'),
                                            $("<div>").append(
                                                $('<input type="number"/>')
                                                    .attr('name', "percentual_obra")
                                                    .attr("step", "0.01")
                                                    .attr('placeholder', 'Porcentagem')
                                                    .addClass('form-control')
                                            ).addClass('col-12 col-lg-3 my-1'),
                                            $("<div>").append(
                                                $("<a>").html("Adicionar")
                                                    .addClass('btn btn-primary btn-block text-white')
                                                    .attr('onclick', 'add_coautor("' + result.id + '")')
                                            ).addClass('col-12 col-lg-3 my-1'),
                                        ).addClass('row'),
                                    ).attr('id', 'form_coautor' + result.id)
                                ).addClass('col-12'),
                                $("<div>").attr('id', 'col_coautor' + result.id)
                                    .addClass('col-12'),
                            ).addClass("row"),
                        ).addClass("list-group-item").attr('id', 'table_coautor' + result.id)
                    ).addClass('container')
                }
                if (result.error) {
                    alert(result.error)
                }
            },
            fail: function (e) {
                console.log(e)
                alert('erro')
            },
            always: function () {
                $(".progress-bar").css({ "width": "0%" });
                $(".progress-bar").text("0%");
            }
        })
    }
    $('#id_codservico').change(function () {
        // jQuery.noConflict();
        if ($(this).val() != "" && !service_active) {
            let url_service = "/api/servicos/" + $(this).val()
            // let data = '{"csrfmiddlewaretoken": "{{ csrf_token }}",' + '"service":' + $(this).val()+'}'
            // $("#fileupload").attr('data-form-data', data)
            let url_up = "{% url 'base_upload' %}?service=" + $(this).val()
            // console.log(url_up)
            let resp = $.getJSON(url_service, function (data) {
                fileExtension = []
                data.extensoes.forEach(element => {
                    fileExtension.push(element.nome)
                    extentions += element.nome + ", "
                });
                extentions = extentions.substring(0, extentions.length - 2)
                size = data.tamanho;
            }).done(function (data) {
                valor = parseFloat(data.preco).toFixed(2).valueOf().replace('.',',')
                $("#tamanho").html(data.tamanho + "MB")
                $("#valor").html("R$ " + valor)
                $("#extentions").html("Extensões permitidas:" + "<br>" + extentions.toUpperCase())
                $("#extentions").addClass('grey')
                $("#fileupload").removeAttr('disabled')
                upload(url_up)
            }).fail(function (resp) {
                alert('erro')
                $("#extentions").removeClass('grey')
            }).always(function (data) {
                extentions = ""
            })
        } else {
            $("#loading").removeClass('d-none')
            location.reload()

        }
    });

    $(".delete_file").on("click", function (event) {
        // alert('kdkdk')
        let url = $(this).attr('link')
        let element = $(this).closest("tr");
        element.fadeOut(1000)
        data = { "csrfmiddlewaretoken": "{{ csrf_token }}" }
        $.post(url, data, function (data) {

        }).fail(function (e, data) {
            element.fadeIn(005)
        }).done(function (data) {
            element.remove()
        }).always(function (data) {
            console.log(data)
        })
    })
    // })

    function remove_file(url, id) {
        let element = $("#tr_file" + id)
        element.fadeOut(1000)
        data = { "csrfmiddlewaretoken": "{{ csrf_token }}" }
        $.post(url, data, function (data) {

        }).fail(function (e, data) {
            element.fadeIn(005)
        }).done(function (data) {
            element.remove()
            $("#tr_desc" + id).remove()
            $("#table_coautor" + id).remove()
            $('#check_file' + id).remove()
        }).always(function (data) {
            console.log(data)
        })
    }

    function show_description(id) {
        console.log(id)
        $("#description" + id).modal({
            dismissible: false
        });
    }

    //function teste() {
    // jQuery.noConflict();
    // $('#modal1').modal('show'); 
    // $('#exampleModalLong').modal({
    //     backdrop: 'static',
    //     keyboard: false
    // });
    // }

    function myFunction(id) {
        let text = document.getElementById("desc_file" + id).value
        let url = '/api/resume-file/' + id
        let data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            resume: text
        }
        $.post(url, data, function (data) {
            console.log(data)
        }).fail(function (e) {
            alert("erro")
        })
    }



    function add_coautor(id) {
        let url = '/api/coautor-file/' + id
        let data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            file: id
        }
        let form = $('#form_coautor' + id)
        let formData = form.serializeArray()
        formData.forEach(element => {
            data[element.name] = element.value
        })
        $.post(url, data, function (data) {
            // console.log(data)
            if (data.is_valid) {
                console.log(data)
                $('#col_coautor' + id).append(
                    $("<div>").append(
                        $("<div>").append(
                            $('<input type="text"/>')
                                .addClass('form-control')
                                .attr('value', data.nome)
                                .attr('disabled', true)
                        ).addClass('col-12 col-lg-3 my-1'),
                        $("<div>").append(
                            $('<input type="text"/>')
                                .addClass('form-control')
                                .attr('value', data.documento)
                                .attr('disabled', true)
                        ).addClass('col-12 col-lg-3 my-1'),
                        $("<div>").append(
                            $('<input type="text"/>')
                                .attr('disabled', true)
                                .attr('value', data.percentual_obra + "%")
                                .addClass('form-control')
                        ).addClass('col-12 col-lg-3 my-1'),
                        $("<div>").append(
                            $('<a>').text("Excluir")
                                .addClass('btn btn-danger btn-block text-white')
                                .attr('onclick', 'del_coautor("' + data.id + '")')
                        ).addClass('col-12 col-lg-3 my-2'),
                    ).addClass('row my-3').attr('id', 'coautor_row' + data.id),
                )
                form.trigger("reset");
                form.find('input').first().focus()
            } else {
                alert(data.error)
            }
        }).fail(function (e, data) {
            console.log(data)
        })
    }

    function del_coautor(id) {
        let url = "/api/delete-coautor/" + id
        let data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
        }
        let element = $('#coautor_row' + id)
        $.post(url, data, function (data) {
            if (data.success) {
                element.fadeOut(1000, function () {
                    element.remove()
                })
            }
        }).fail(function (e) {
            console.alert('ops! algo deu errado :(')
        })
    }

    // $('#btn-teste').click(function () {
    //     let result = { name: "arquivo", id: 1 }
    //     $('#coautores').prepend(
    //         $('<div>').append(
    //             $('<div>').append(
    //                 $("<div>").append(
    //                     $('<p>').text(result.name).addClass(),
    //                 ).addClass('col-12'),
    //                 $('<div>').append(
    //                     $("<div>").append(
    //                         $("<div>").append(
    //                             $('<input type="text"/>')
    //                                 .addClass('form-control')
    //                                 .attr('placeholder', 'Nome')
    //                                 .attr('name', "nome")
    //                         ).addClass('col-12 col-lg-3 my-1'),
    //                         $("<div>").append(
    //                             $('<input type="number"/>')
    //                                 .addClass('form-control')
    //                                 .attr('placeholder', 'Documento')
    //                                 .attr('name', "documento")
    //                         ).addClass('col-12 col-lg-3 my-1'),
    //                         $("<div>").append(
    //                             $('<input type="number"/>')
    //                                 .attr('name', "percentual_obra")
    //                                 .attr("step", "0.01")
    //                                 .attr('placeholder', 'Porcentagem')
    //                                 .addClass('form-control')
    //                         ).addClass('col-12 col-lg-3 my-1'),
    //                         $("<div>").append(
    //                             $("<a>").html("Adicionar")
    //                                 .addClass('btn btn-primary btn-block text-white')
    //                                 .attr('onclick', 'add_coautor("' + result.id + '")')
    //                         ).addClass('col-12 col-lg-3 my-1'),
    //                     ).addClass('row'),
    //                 ).addClass('col-12'),
    //                 $("<div>").attr('id', 'col_coautor' + result.id)
    //                     .addClass('col-12'),
    //             ).addClass("row"),
    //         ).addClass("list-group-item").attr('id', 'table_coautor' + result.id)
    //     ).addClass('container')
    // })


    $('#check_acept_terms').click(function () {
        // alert('kdkdk')
        if ($(this).is(":checked")) {
            $("#btn_submit").removeAttr("disabled");
        } else {
            $("#btn_submit").attr("disabled", true);
        }
    });

    $('#registro-form').submit(async function (e) {
        e.preventDefault()
        let url_check = '/api/very-credit/?service=' + $('#id_codservico').val()
        // alert(url)

        await $.getJSON(url_check, function (data) {
            console.log(data)
            if (!data.result && data.cielo) {
                $('#id_valor').val(data.value)
                $('#modal_cielo').modal({
                    backdrop: 'static',
                    keyboard: false
                })
            } else if (!data.result && !data.cielo) {
                alert('nenhum arquivo enviado')
            } else if (!data.cielo && data.result) {
                $('#complete').append($('#id_codindicacao'))
                $('#complete').append($('#id_codservico'))
                $('#complete').submit()
            }
        }).fail(function (e) {
            alert('Ops! algo deu errado')
        })
    })

    $('#cielo').submit(function (e) {
        e.preventDefault()
        let url = '/api/buy-credit/'
        let data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
        }
        let form = $('#cielo')
        let formData = form.serializeArray()
        formData.forEach(element => {
            data[element.name] = element.value
        })
        $.post(url, data, function (data) {
            if (data.result) {
                $('msg_cielo').text(data.msg)
                // $('#modal_cielo').close()
                $('#registro-form').submit()
            } else {
                $('msg_cielo').text(data.msg)
                alert(data.msg)
            }
        }).fail(function (e) {
            console.log(e)
            alert(data.msg)
            $('msg_cielo').text(data.msg)
        })
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
          $("#id_valor").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
    });
</script>t>

{% endblock script %}