{% extends "base_bootstrap.html" %}
{% load static %}
{% block header %}
<!--autocomplete select2-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    .select2 {
        max-width: 100% !important;
    }

    button,
    span {
        outline: 0 !important;
        /*removendo outiline do select2 autocomplete*/
    }
</style>
{% endblock header %} {% block script %}
<!--autocomplete select2-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
    $('select').select2(); //autocomplete select2
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas2image@1.0.5/canvas2image.min.js"></script>


<script>
function convertNumberToWords(amount) {
    var words = new Array();
    words[0] = '';
    words[1] = 'um';
    words[2] = 'dois';
    words[3] = 'três';
    words[4] = 'quatro';
    words[5] = 'cinco';
    words[6] = 'seis';
    words[7] = 'sete';
    words[8] = 'oito';
    words[9] = 'nove';
    words[10] = 'dez';
    words[11] = 'onze';
    words[12] = 'doze';
    words[13] = 'treze';
    words[14] = 'quartoze';
    words[15] = 'quinze';
    words[16] = 'dezesseis';
    words[17] = 'dezessete';
    words[18] = 'dezoito';
    words[19] = 'dezenove';
    words[20] = 'vinte';
    words[30] = 'trinta';
    words[40] = 'quarenta';
    words[50] = 'cinquenta';
    words[60] = 'sessenta';
    words[70] = 'setenta';
    words[80] = 'oitenta';
    words[90] = 'noventa';
    amount = amount.toString();
    var atemp = amount.split(".");
    var number = atemp[0].split(",").join("");
    var n_length = number.length;
    var words_string = "";
    if (n_length <= 9) {
        var n_array = new Array(0, 0, 0, 0, 0, 0, 0, 0, 0);
        var received_n_array = new Array();
        for (var i = 0; i < n_length; i++) {
            received_n_array[i] = number.substr(i, 1);
        }
        for (var i = 9 - n_length, j = 0; i < 9; i++, j++) {
            n_array[i] = received_n_array[j];
        }
        for (var i = 0, j = 1; i < 9; i++, j++) {
            if (i == 0 || i == 2 || i == 4 || i == 7) {
                if (n_array[i] == 1) {
                    n_array[j] = 10 + parseInt(n_array[j]);
                    n_array[i] = 0;
                }
            }
        }
        value = "";
        for (var i = 0; i < 9; i++) {
            if (i == 0 || i == 2 || i == 4 || i == 7) {
                value = n_array[i] * 10;
            } else {
                value = n_array[i];
            }
            if (value != 0) {
                words_string += words[value] + " ";
            }
            if ((i == 1 && value != 0) || (i == 0 && value != 0 && n_array[i + 1] == 0)) {
                words_string += "Crores ";
            }
            if ((i == 3 && value != 0) || (i == 2 && value != 0 && n_array[i + 1] == 0)) {
                words_string += "Lakhs ";
            }
            if ((i == 5 && value != 0) || (i == 4 && value != 0 && n_array[i + 1] == 0)) {
                words_string += "mil ";
            }
            if (i == 6 && value != 0 && (n_array[i + 1] != 0 && n_array[i + 2] != 0)) {
                words_string += "cento e ";
            } else if (i == 6 && value != 0) {
                words_string += "cento ";
            }
        }
        words_string = words_string.split("  ").join(" ");
    }
    return words_string;
}
</script>





<script>
    function number_format(a, b, c, d) {
        a = Math.round(a * Math.pow(10, b)) / Math.pow(10, b);
        e = a + '';
        f = e.split('.');
        if (!f[0]) {
            f[0] = '0';
        }
        if (!f[1]) {
            f[1] = '';
        }
        if (f[1].length < b) {
            g = f[1];
            for (i=f[1].length + 1; i <= b; i++) {
                g += '0';
            }
            f[1] = g;
        }
        if(d != '' && f[0].length > 3) {
            h = f[0];
            f[0] = '';
            for(j = 3; j < h.length; j+=3) {
                i = h.slice(h.length - j, h.length - j + 3);
                f[0] = d + i + f[0] + '';
            }
            j = h.substr(0, (h.length % 3 == 0) ? 3 : (h.length % 3));
            f[0] = j + f[0];
        }
        c = (b <= 0) ? '' : c;
        return f[0] + c + f[1];
    }

    function ValorPorExtenso(valor) {

        if (!valor) return 'Zero';

        var singular = ['centavo', 'real', 'mil', 'milhão', 'bilhão', 'trilhão', 'quatrilhão'];
        var plural = ['centavos', 'reais', 'mil', 'milhões', 'bilhões', 'trilhões', 'quatrilhões'];

        var c = ['', 'cento', 'duzentos', 'trezentos', 'quatrocentos', 'quinhentos', 'seiscentos', 'setecentos', 'oitocentos', 'novecentos'];
        var d = ['', 'dez', 'vinte', 'trinta', 'quarenta', 'cinquenta', 'sessenta', 'setenta', 'oitenta', 'noventa'];
        var d10 = ['dez', 'onze', 'doze', 'treze', 'quatorze', 'quinze', 'dezesseis', 'dezesete', 'dezoito', 'dezenove'];
        var u = ['', 'um', 'dois', 'três', 'quatro', 'cinco', 'seis', 'sete', 'oito', 'nove'];

        var z = 0;

        valor = valor.toString();
        valor = number_format(valor, 2, '.', '.');

        var inteiro = valor.split(/\./);

        for (var i = 0; i < inteiro.length; i++) {
            inteiro[i] = inteiro[i].toString();
            for (var ii = inteiro[i].length; ii < 3; ii++) {
                inteiro[i] = '0' + inteiro[i];
            }
        }

        var fim = inteiro.length - (inteiro[inteiro.length-1] > 0 ? 1 : 2 );

        var rc, rd, ru;
        var r, t;
        var rt = '';
        var valor_split;
        for (var i = 0; i < inteiro.length; i++) {

            valor = inteiro[i];
            valor_split = valor.match(/./g);

            rc = ((valor > 100) && (valor < 200)) ? 'cento' : c[valor_split[0]];
            rd = (valor_split[1] < 2) ? '' : d[valor_split[1]];
            ru = (valor > 0) ? ((valor_split[1] == 1) ? d10[valor_split[2]] : u[valor_split[2]]) : '';

            r = rc + ((rc && (rd || ru)) ? ' e ' : '') + rd + ((rd && ru) ? ' e ' : '') + ru;
            t = inteiro.length - 1 - i;

            r = r + (r ? ' ' + (valor > 1 ? plural[t] : singular[t]) : '');
            if (valor == '000') z++;
            else if (z > 0) z--;

            if ((t==1) && (z>0) && (inteiro[0] > 0)) {
                r = r + ((z>1) ? ' de ' : '') + plural[t];
            }
            if (r) {
                rt = rt + (((i > 0) && (i <= fim) && (inteiro[0] > 0) && (z < 1)) ? ( (i < fim) ? ', ' : ' e ') : ' ') + r;
           }

        }

        return (rt ? rt : 'zero');
        //return ('zero')
    }

//alert(ValorPorExtenso(8916165));

</script>





<script>

    function addScript(url) {
        //https://www.npmjs.com/package/html2pdf.js
        var script = document.createElement('script');
        script.type = 'application/javascript';
        script.src = url;
        document.head.appendChild(script);
    }

    $(function(){
        addScript('https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js');

        $('#btn-contrato').click(function(){
            var opt = {
                margin:       1,
                filename:     'contrato.pdf',
                image:        { type: 'jpeg', quality: 0.98 },
                html2canvas:  { scale: 2 },
                pagebreak:  { mode: ['avoid-all', 'css', 'legacy'] },
                jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
            };
            let element = document.getElementById('contrato');
            // var worker = html2pdf().from(element).save('contrato');
            html2pdf().set(opt).from(element).toPdf().save();
        })
    })

</script>

<script>
    // $(document).ready(function () {
    var fileExtension = [];
    var size = 0;
    var valor = 0;
    var extentions = ""
    var formData = new FormData()
    let url_up = "{% url 'base_upload' %}"
    var service_active = false

    $("#btn-upload").click(function () {
        if ($("#fileupload").prop('disabled')) {
            alert('selecione o serviço!')
        } else {
            $("#fileupload").click();
        }
    });

    function bytesToSize(bytes) {
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes == 0) return '0 Byte';
        var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
        return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
    }

    function get_save_file() {
        if ($('#save_file').is(":checked")) {
            return '&save=True'
        } else {
            return '&save=False'
        }
    }

    function get_url() {
        let save_file = get_save_file()
        return "{% url 'base_upload' %}?service=" + $("#id_codservico").val() + save_file
    }

    function upload() {
        $("#fileupload").fileupload({
            url: get_url(),
            dataType: 'json',
            sequentialUploads: true,  /* 1. SEND THE FILES ONE BY ONE */
            autoUpload: false,
            // formData: formData,
            add: function (e, data) {
                // var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                data.files.forEach(element => {
                    // console.log(element)
                    let extention = element.name.split('.').pop().toLowerCase()
                    if ($.inArray(extention, fileExtension) == -1) {
                        alert("Somente arquivos no formato : " + fileExtension.join(', '));

                    } else {
                        if ((element.size / Math.pow(1024, 2)) < size) {
                            data.submit()
                        } else {
                            let s = element.size / Math.pow(1024, 2)
                            let msg = 'seu arquivo possui ' + s.toFixed(2) + "MB e pode ter no maximo " + size + 'MB'
                            alert(msg)
                        }
                    }
                });
            },
            start: function (e) {  /* 2. WHEN THE UPLOADING PROCESS STARTS, SHOW THE MODAL */
                // console.log(e)
                $('#check_acept_terms').removeAttr('checked')
                $("#check_acept_terms").attr('disabled', true)
                $("#btn_submit").removeAttr('disabled', true)
                $("#btn_submit").attr('disabled', true)
            },
            stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */
                $('#check_acept_terms').removeAttr('disabled')
            },
            progressall: function (e, data) {  /* 4. UPDATE THE PROGRESS BAR */
                var progress = parseInt(data.loaded / data.total * 100, 10);
                var strProgress = progress + "%";
                // console.log(strProgress)
                $(".progress-bar").css({ "width": strProgress });
                $(".progress-bar").text(strProgress);
            },
            success: function (data) {
                console.log(data)
                $("#complete").append(
                    $('<input type="checkbox"/>').val(data.id)
                        .attr('name', 'files')
                        .attr('checked', true)
                        .attr('id', 'check_file' + data.id)
                        .addClass('d-none')

                )
                let price = parseFloat(data.price).toFixed(2).valueOf().replace('.', ',')
                $('#total').html("R$ " + data.total)
                $('#tsfile').html("R$ " + data.save)
                $('#tfile').html("R$ " + data.price)
                $('#soma').html("R$ " + data.total)
                $('#somaextenso').html(ValorPorExtenso(data.total.replace(',', '.')))
            },
            done: function (e, data) {
                //$("#total").html("10")
                $("#percent").text("concluido ;)");
                let result = data.result
                if (result.is_valid) { 
                    service_active = true
                    // console.log(result)
                    let str_func = 'remove_file("' + result.delete + '",' + result.id + ')'
                    $("#totvals").append(
                        $('<span>').attr('id',"totval"+result.id).html("R$ "+result.total)
                    )
                    $("#codeFiles").append(
                        $('<span>').attr('id',"codFile"+result.id).html(", "+result.code)
                    )
                    if($('.fileNames').length){
                        $(".fileNames").append(
                            $('<span>').attr('class',"fileName"+result.id).html(result.name).append('<br>')
                        )
                    }
                    $("#gallery tbody").prepend(
                        $("<tr>").append( 
                            $('<td>').append(
                                $("<a>").html(result.name)
                                    .attr('href', result.file)
                                    .attr("target", "_blank")
                                    .addClass('ml-5 text-white')
                            ).addClass('mt-2 pt-2'),
                            $('<td>').append(
                                $("<a>").html("excluir").addClass('btn btn-danger text-white ')
                                    .addClass('delete_file')
                                    .attr('link', result.delete)
                                    .attr('style', 'cursor: pointer;')
                                    .attr('onclick', str_func)
                            ).addClass("float-right"),
                        ).attr('id', 'tr_file' + result.id)
                    )
                    $('#description tbody').prepend(
                        $('<tr>').append(
                            $('<td>').append(
                                $('<label>').attr('for', 'desc_file' + result.id)
                                    .html(result.name),
                                $("<textarea>")
                                    .val(result.resume)
                                    .attr('id', 'desc_file' + result.id)
                                    .addClass('form-control form-control-lg resume')
                                    .attr('onchange', "myFunction('" + result.id + "')")
                                    .attr('onkeyup',"desableCheck('" + result.id + "')"),
                                // $("<a>").html("Salvar").addClass('btn btn-primary text-white')
                                //     .addClass('float-right mt-2')
                                //     .attr('link', result.delete)
                                //     .attr('style', 'cursor: pointer;')
                            ),
                        ).attr('id', 'tr_desc' + result.id)
                    )
                    $('#coautores').prepend(
                        $('<div>').append(
                            $('<div>').append(
                                $("<div>").append(
                                    $('<p>').text(result.name).addClass(),
                                ).addClass('col-12'),
                                $('<div>').append(
                                    $("<form>").append(
                                        $("<div>").append(
                                            $("<div>").append(
                                                $('<input type="text"/>')
                                                    .addClass('form-control')
                                                    .attr('placeholder', 'Nome')
                                                    .attr('name', "nome")
                                            ).addClass('col-12 col-lg-3 my-1'),
                                            $("<div>").append(
                                                $('<input type="text"/>')
                                                    .addClass('form-control')
                                                    .attr('placeholder', 'Documento')
                                                    .attr('name', "documento")
                                            ).addClass('col-12 col-lg-3 my-1'),
                                            $("<div>").append(
                                                $('<input type="number"/>')
                                                    .attr('name', "percentual_obra")
                                                    .attr("step", "0.01")
                                                    .attr("min", "0.01")
                                                    .attr("max", "90.00")
                                                    .attr('placeholder', 'Porcentagem')
                                                    .addClass('form-control')
                                            ).addClass('col-12 col-lg-3 my-1'),
                                            $("<div>").append(
                                                $("<a>").html("Adicionar")
                                                    .addClass('btn btn-primary btn-block text-white')
                                                    .attr('onclick', 'add_coautor("' + result.id + '")')
                                            ).addClass('col-12 col-lg-3 my-1'),
                                        ).addClass('row'),
                                    ).attr('id', 'form_coautor' + result.id)
                                ).addClass('col-12'),
                                $("<div>").attr('id', 'col_coautor' + result.id)
                                    .addClass('col-12'),
                            ).addClass("row"),
                        ).addClass("list-group-item").attr('id', 'table_coautor' + result.id)
                    ).addClass('container')
                }
                if (result.error) {
                    alert(result.error)
                }
            },
            fail: function (e) {
                console.log(e)
                alert('erro')
            },
            always: function () {
                $(".progress-bar").css({ "width": "0%" });
                $(".progress-bar").text("0%");
            }
        })
    }

    $('#id_codservico').change(function () {
        // jQuery.noConflict();
        if ($(this).val() != "" && !service_active) {
            let url_service = "/api/servicos/" + $(this).val()
            // let data = '{"csrfmiddlewaretoken": "{{ csrf_token }}",' + '"service":' + $(this).val()+'}'
            // $("#fileupload").attr('data-form-data', data)

            let url_up = "{% url 'base_upload' %}?service=" + $(this).val()
            // console.log(url_up)
            let resp = $.getJSON(url_service, function (data) {
                fileExtension = []
                data.extensoes.forEach(element => {
                    fileExtension.push(element.nome)
                    extentions += element.nome + ", "
                });
                extentions = extentions.substring(0, extentions.length - 2)
                size = data.tamanho;
            }).done(function (data) {
                valor = parseFloat(data.preco).toFixed(2).valueOf().replace('.', ',')
                $("#tamanho").html(data.tamanho + "MB")
                $("#valor").html("R$ " + valor)
                $("#extentions").html("Extensões permitidas:" + "<br>" + extentions.toUpperCase())
                $("#extentions").addClass('grey')
                $("#fileupload").removeAttr('disabled')
                upload()
            }).fail(function (resp) {
                alert('erro')
                $("#extentions").removeClass('grey')
            }).always(function (data) {
                extentions = ""
            })
        } else {
            $("#loading").removeClass('d-none')
            location.reload()

        }
    });

    function remove_file(url, id) {
        let element = $("#tr_file" + id)
        element.fadeOut(1000)
        let save_file
        if ($('#save_file').is(":checked")) {
            save_file = 'True'
        } else {
            save_file = 'False'
        }
        data = { "csrfmiddlewaretoken": "{{ csrf_token }}", "save": save_file }
        $.post(url, data, function (data) {
            $('#total').html("R$ " + data.total)
            $('#tsfile').html("R$ " + data.save)
            $('#tfile').html("R$ " + data.price)
        }).fail(function (e, data) {
            element.fadeIn(005)
        }).done(function (data) {
            element.remove()
            $('#codFile'+ id).remove()
            $("#tr_desc" + id).remove()
            $("#table_coautor" + id).remove()
            $('#check_file' + id).remove()
            if($('.fileNames').length){
                $('.fileName'+id).remove()
            }
        }).always(function (data) {
            console.log(data)   
        })
    }

    function show_description(id) {
        console.log(id)
        $("#description" + id).modal({
            dismissible: false
        });
    }

    //function teste() {
    // jQuery.noConflict();
    // $('#modal1').modal('show'); 
    // $('#exampleModalLong').modal({
    //     backdrop: 'static',
    //     keyboard: false
    // });
    // }
    function desableCheck(id){
        $('#check_acept_terms').removeAttr('checked')
        // $("#check_acept_terms").attr('disabled', true)
        $("#btn_submit").removeAttr('disabled', true)
        $("#btn_submit").attr('disabled', true)
    }

    function myFunction(id) {
        let text = document.getElementById("desc_file" + id).value
        let url = '/api/resume-file/' + id
        let data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            resume: text
        }
        
        $.post(url, data, function (data) {
            console.log(data)
        }).fail(function (e) {
            alert("erro")
        }).always(function(e){
        // $('#check_acept_terms').removeAttr('disabled')
        })
    }



    function add_coautor(id) {
        let url = '/api/coautor-file/' + id
        let data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            file: id
        }
        let form = $('#form_coautor' + id)
        let formData = form.serializeArray()
        formData.forEach(element => {
            data[element.name] = element.value
        })
        $.post(url, data, function (data) {
            // console.log(data)
            if (data.is_valid) {
                console.log(data)
                $('#col_coautor' + id).append(
                    $("<div>").append(
                        $("<div>").append(
                            $('<input type="text"/>')
                                .addClass('form-control')
                                .attr('value', data.nome)
                                .attr('disabled', true)
                        ).addClass('col-12 col-lg-3 my-1'),
                        $("<div>").append(
                            $('<input type="text"/>')
                                .addClass('form-control')
                                .attr('value', data.documento)
                                .attr('disabled', true)
                        ).addClass('col-12 col-lg-3 my-1'),
                        $("<div>").append(
                            $('<input type="text"/>')
                                .attr('disabled', true)
                                .attr('value', data.percentual_obra + "%")
                                .addClass('form-control')
                        ).addClass('col-12 col-lg-3 my-1'),
                        $("<div>").append(
                            $('<a>').text("Excluir")
                                .addClass('btn btn-danger btn-block text-white')
                                .attr('onclick', 'del_coautor("' + data.id + '")')
                        ).addClass('col-12 col-lg-3 my-2'),
                    ).addClass('row my-3').attr('id', 'coautor_row' + data.id),
                )
                form.trigger("reset");
                form.find('input').first().focus()
            } else {
                alert(data.error)
            }
        }).fail(function (e, data) {
            console.log(data)
        })
    }

    function del_coautor(id) {
        let url = "/api/delete-coautor/" + id
        let data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
        }
        let element = $('#coautor_row' + id)
        $.post(url, data, function (data) {
            if (data.success) {
                element.fadeOut(1000, function () {
                    element.remove()
                })
            }
        }).fail(function (e) {
            console.alert('ops! algo deu errado :(')
        })
    }

    $('#check_acept_terms').click(function () {
        // alert('kdkdk')
        if ($(this).is(":checked")) {
            $("#btn_submit").removeAttr("disabled");
        } else {
            $("#btn_submit").attr("disabled", true);
        }
    });

    $('#registro-form').submit(async function (e) {
        e.preventDefault()
        let base_url = '/api/very-credit/'
        let service = '?service=' + $('#id_codservico').val()
        let code_promocional = "&code=" + $("#id_codigo_promocional").val()
        let url_check = base_url + service + get_save_file() + code_promocional
        // console.log(url_check)
        $('#aguarde').removeClass('d-none')
        await $.getJSON(url_check, function (data) {
            console.log(data)
            if (!data.result && data.cielo) {
                $('#id_valor').val(data.value)
                if (!code_promocional == "") {
                    console.log(data.promocao)
                    if (data.promocao != null) {
                        $('#id_promocao').html("Desconto:" + data.promocao)
                    } else {
                        $('#id_promocao').html("Nenhum desconto aplicado!")
                    }
                }
                $('#aguarde').addClass('d-none')
                $('#modal_cielo').modal({
                    backdrop: 'static',
                    keyboard: false
                })
            } else if (!data.result && !data.cielo) {
                alert('nenhum arquivo enviado')
                $('#aguarde').addClass('d-none')
            } else if (!data.cielo && data.result) {
                $('#complete').append($('#id_codigo_promocional').addClass('d-none'))
                $('#complete').append($('#save_file').addClass('d-none'))
                $('#complete').append($('#id_codservico').addClass('d-none'))
                // $('#aguarde').removeClass('d-none')
                $('#complete').submit()
            }
        }).fail(function (e) {
            alert('Ops! algo deu errado')
        })
    })

    $('#cielo').submit(function (e) {
        e.preventDefault()
        let url = '/api/buy-credit/' 
        let data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
        }
        let form = $('#cielo')
        let formData = form.serializeArray()
        let submit = true
        formData.forEach(element => {
            data[element.name] = element.value
            if (element.value == "") {
                submit = false
            }
        })
        if (submit) {
            $('#btn_cielo').text("Aguarde..");
            $('#btn_cielo').attr("disabled", true);
            $('#btn_close_cielo').attr("disabled", true);
            $.post(url, data, function (data) {
                if (data.result) {
                    $('msg_cielo').text(data.msg)
                    $('#modal_cielo').modal('hide');
                    $('#registro-form').submit()
                } else {
                    $('msg_cielo').text(data.msg)
                    alert(data.msg)
                }
            }).fail(function (e) {
                console.log(e)
                alert(data.msg)
                $('msg_cielo').text(data.msg)
            }).always(function (data) {
                if (!data.result) {
                    $('#btn_cielo').text("Comprar");
                    $('#btn_cielo').removeAttr('disabled')
                    $('#btn_close_cielo').removeAttr('disabled')
                }
            })
        } else {
            alert('Todos os campos são obrigatorios')
        }
    })

    $('#save_file').change(function () {
        upload()
        if ($(this).is(":checked")) {
            $.get('/api/getprice/?save=True', function (data) {
                $('#total').html("R$ " + data.total)
                $('#tsfile').html("R$ " + data.save)
                $('#tfile').html("R$ " + data.price)
            })
        } else {
            $.get('/api/getprice/?save=False', function (data) {
                $('#total').html("R$ " + data.total)
                $('#tsfile').html("R$ " + data.save)
                $('#tfile').html("R$ " + data.price)
            })
        }
    });
</script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
<script type="text/javascript">
    $('#modal_terms').modal({
        show: false,
        backdrop: 'static',
        keyboard: false
    })
    $(document).ready(function () {
        $('#id_validade').mask('99/9999')
        $("#id_valor").attr('readonly', true)
        // $("#id_valor").maskMoney({ showSymbol: true, prefix: "R$", symbol: "R$", decimal: ",", thousands: "." });
    });
</script>

{% endblock script %}