{% load static %}

<footer class="page-footer 1565c0 blue darken-3" style="position:relative;bottom:0;width:100%;"> <!--grey lighten-3-->
    <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text">Endereço</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class=" black-text">Parceiros</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-5 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>



