{% load static %}
<footer class="page-footer  grey darken-2">
    <div class="container ">
        <div class="row">
            <div class="col l6 s12">
               <ul>
                    <li><a href=""> <img src="{% static 'imgs/appyP.png' %}"></a></li>
                    <li><a href=""><img src="{% static 'imgs/googleP.png' %}"></a></li>
                </ul>

            </div>
               <div class="container">

										<ul><li><span>Endereço:</span> 123 rua Street,Recife,Brasil </li></ul>
										<ul><li><span>CEP:</span> 54940-090</li></ul>
                                         <ul><li><span>fone:</span> (81) 999-1235</li></ul>
										<ul><li><span>Fax:</span> (011) 999-1234</li></ul>
										<ul><li><span>Email:</span> contato@vadejet.com.br</li></ul>
               </div>
		      <div class="footer-copyright">
            <div class="container">
              © 2019 Copyright Vai de JET
            <a class="grey-text text-lighten-4 right" href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.vadejet.com.br' target='_blank' rel='nofollow'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>

            </div>
          </div>




</footer>