{% load static %}

<div class="slider">
    <ul class="slides">
        <li>

        <img src="{% static 'imgs/amigos_carro.jpg' %}"> <!-- random image -->

        <div class="caption center-align">
            <br><br><br><br><br><br><br><br>
            <h2 class="light grey-text text-lighten-3">Va de JET e Ganhe prêmios!!</h2>


  <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>


            <!--  colcor nome aqui se quizer -->





        </div>
        </li>
        <li>
        <img src="{% static 'imgs/passageira.jpg' %}"> <!-- random image -->
        <div class="caption left-align">
            <h3></h3>
            <h5 class="light grey-text text-lighten-3"></h5>
        </div>
        </li>
        <li>
        <img src="{% static 'imgs/amigosesperando.jpg' %}"> <!-- random image -->
        <div class="caption right-align">
            <h3></h3>

        </div>
        </li>
        <li>
        <img src="{% static 'imgs/f_img1.jpg' %}"> <!-- random image -->
        <div class="caption center-align">
             <br><br><br><br><br><br><br><br>
            <h2 class="light grey-text text-lighten-3">Mulher no App saiba mais!</h2>


  <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

            <!--  colcor nome aqui se quizer -->



        </div>
        </li>
         <li>
        <img src="{% static 'imgs/motoristaapp.jpg' %}"> <!-- random image -->
        <div class="caption center-align">
             <br><br><br><br><br><br><br><br>
            <h2 class="light grey-text text-lighten-3">Torne-se Motorista</h2>

  <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>


            <!--  colcor nome aqui se quizer -->



        </div>
        </li>
    </ul>
</div>
<br><br>
