<html>

<head>
	<title>CERTIFICADO</title>
	<meta name="pdfkit-page-size" content="Legal" />
	<meta charset="utf-8">
	<meta name="pdfkit-orientation" content="Landscape" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		/* @page {
			size: landscape;
			margin: 0cm;
		} */

		body,
		.page {
			width: 100%;
			height: 100%;
		}

		.page {
			background-image: url(https://www.hoodid.com/images/Fundo.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	</style>
</head>

<body>
	<div class="page">
		<div class="container" style="padding-top: 18%; background: none;">
			<div class="text-center">
				<strong>CERTIFICADO DE REGISTRO N°{{registro.pk}}</strong>
			</div>
			<br>
			<div class="row">
				<div class="col-10 offset-1 text-justify">
					CERTIFICO que, às {{registro.data|date:'H:i'}} horas do dia
					{{registro.data|date:'d/m/Y'}}, {{registro.id_cliente.nome|upper}},
					{{registro.id_cliente.pais}}, inscrito
					no CPF/MF sob o número {{registro.id_cliente.cnpjcpf|upper}}, residente
					{{registro.id_cliente.endereco|upper}}, N° {{registro.id_cliente.numero|upper}},
					{% if registro.id_cliente.complemento %}
					 {{registro.id_cliente.complemento|upper}},
					{% endif %}
					na cidade de {{registro.id_cliente.cidade|upper}},  bairro de
					{{registro.id_cliente.bairro|upper}}, estado {{registro.id_cliente.estado|upper}}, 
					com CEP {{registro.id_cliente.cep|upper}}, obteve registro da 
					sua declaração de autoria da obra intelectual intitulada
					{{registro.arquivo.resume}}, na categoria {{registro.codservico.nome|upper}}. <br>
					O presente registro foi  assinado  pelo titular deste  certificado, e está associado a
					uma chave digital fornecida pelo Instituto
					Nacional de Tecnologia da Informação (ITI), através de  uma
					ACT (Autoridade de Carimbo de Tempo) utilizada
					para garantir data e hora da assinatura digital combasenos dados fornecidos pelo
					Observatório Nacional, cuja autoridade foi conferida pela
					Administração Pública.
					A chave digital foigerada através do  sistema online da
					HoodIDRegistros Online Ltda. Tendo esta declaração de  autoria 
					 de  obra intelectual garantia de autenticidade,
					integridade e validade jurídica, nos termos do artigo 1°; da  Medida
					Provisória n°;
					2.200-2,  de 24 de agosto de 2001. Por ser esta declaração a mais absoluta
					expressão da verdade,
					a HoodID Registros Online emite o presente certificado que subscreve nesta cidade do Recife - PE.
				</div>
			</div>
		</div>
	</div>
	{% for coautores in lista_coautores %}
	{% if coautores %}
	<div class="page">
		<div class="container" style="padding-top: 18%; background: none;">
			<div class="text-center">
				<strong>CERTIFICADO DE REGISTRO N°;{{registro.pk}}</strong>
			</div>
			<br>
			<div class="row">
				<div class="col-10 offset-1 text-center">
					<strong>  Coautoria da obra:</strong>
					{% for c in coautores %}
					<div>
						  Nome: {{c.nome}} Documento Identificação:{{c.documento}}
						{{c.percentual_obra}}%
					</div>
					{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</body>

</html>