{% extends 'base_registro.html' %}

{% block content %}
<div class="container-fluid mt-2">
    <hr>
    <p class="h2 text-center">Meus registros</p>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Serviço</th>
                    <th scope="col">Arquivo</th>
                    <th scope="col">Data</th>
                    <th scope="col">Versão</th>
                    <th scope="col">Download</th>
                    <th scope="col">PDF</th>
                    <th scope="col">Assinatura</th>
                </tr>
            </thead>
            <tbody>

                {% for r in registros %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{r.codservico.nome}}</td>
                    <td>{{r.arquivo.name}}</td>
                    <td>{{r.data}}</td>
                    <td>{{r.arquivo.version}}</td>
                    <td>
                        <a target="_blank" href="{{r.arquivo.file.url}}" download="{{r.arquivo.nome}}">
                            baixar
                        </a>
                    </td>
                    <td>
                        <a target="_blank" download="{{r.arquivo.nome}}" href="{{r.arquivo.file.url}}">
                            PDF
                        </a>
                    </td>
                    <td>
                        <a target="_blank" download="{{r.arquivo.nome}}" href="{{r.arquivo.file.url}}">
                            Assinatura
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    


        <!-- paginate  -->
        {% if registros.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if registros.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{ registros.previous_page_number}}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a href="?page={{ registros.previous_page_number}}">
                        <span class="page-link">{{ registros.previous_page_number }} <span
                                class="sr-only">(current)</span></span>
                    </a>
                </li>
                {% endif %}
                <li class="page-item active"><span class="page-link">{{ registros.number }} <span
                            class="sr-only">(current)</span></span>
                </li>
                {% if registros.has_next %}
                <li class="page-item">
                    <a href="?page={{registros.next_page_number}}">
                        <span class="page-link">{{ registros.next_page_number }}
                            <span class="sr-only">(current)</span></span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{registros.next_page_number}}">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav> {% endif %}
</div>

{% endblock %}