{% extends 'base_cadastro.html' %}
{% block navegar %}
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Registro/a>
        <i class="Large material-icons right">assignment</i>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
           <li>
             <strong>Usuário</strong>
              {{user.username}}
             </li>

             {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block main %}
<div style="padding: 5rem">

    <form class = "col s12" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

         <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">ac_unit</i>
                  {{form.codservico}}
                   {{form.codservico.label_tag}}
                               <p class="errornote">
                              <font color="red">
                                {{form.codservico.errors}}
                              </font>
                          </p>
                </div>
              </div>
        <div class="row">
                <div class="input-field col s6">

                 <i class="material-icons prefix">attach_money</i>
                    {{form.valor}}
                     {{form.valor.label_tag}}
                               <p class="errornote">
                              <font color="red">
                                {{form.valor.errors}}
                              </font>
                          </p>

                </div>

                <div class="col s6">
                  <i class="material-icons prefix">drag_handle</i>
                    {{form.versao}}
                     {{form.versao.label_tag}}
                               <p class="errornote">
                              <font color="red">
                                {{form.versao.errors}}
                              </font>
                          </p>

                </div>
        </div>


         <div class="row">
                <div class="input-field col s6">

                 <i class="material-icons prefix">assignment</i>
                  {{form.descricao}}
                    {{form.descricao.label_tag}}
                               <p class="errornote">
                              <font color="red">
                                {{form.descricao.errors}}
                              </font>
                          </p>

                </div>
                <div class="col s6">
                  <i class="material-icons prefix">attachment</i>
                    {{form.arquivo}}
                     {{form.arquivo.label_tag}}
                               <p class="errornote">
                              <font color="red">
                                {{form.arquivo.errors}}
                              </font>
                          </p>

                </div>




             <div class="col s6">
                  <i class="material-icons prefix">attachment</i>
                    {{form.resumo_obra}}
                    {{form.resumo_obra.errors}}

                 <label for="icon_telephone">Resumo</label>
                </div>

           </div>

                <div class="row">


                <div class="input-field col s12">
                     <input class="btn" type="submit" value="Enviar">
                 </div>
              </div>



    </form>

</div>



{% endblock %}
{% block script %}
  <script>
    $(document).ready(function(){
        $('select').material_select();
        exibir_ocultar();
           $('#id_codservico').on('input', function(e) {
            let cod = $('#id_codservico').val();
            if (cod.length == 9) {

                $.getJSON("http://127.0.0.1:8000/api/servicos/" + cod, function(dados) {
                console.log('Buscando');
                if (!("erro" in dados)) {
                    console.log('deu certo');
                        //Atualiza os campos com os valores da consulta.
                    $("#id_valor").val(dados.preco);
                    //$("#id_bairro").val(dados.tamanho);
                    //$("#id_complemento").val(dados.medida);



                }
            });
        }
    });

        });

  function exibir_ocultar(){
    var valor = $("#id_nome_area").val();
    switch (valor) {

      case 'Area1':
         $("#id_media").show();
         $("#id_area3").hide();
         $("#id_area4").hide();
         $("#id_area2").hide();

        break;
      case 'Area2':
         $("#id_media").hide();
         $("#id_area3").hide();
         $("#id_area4").hide();
         $("#id_area2").show();

         break;
      case 'Area3':
         $("#id_media").hide();
         $("#id_area3").show();
         $("#id_area4").hide();
         $("#id_area2").hide();

        break;
      case 'Area4':
         $("#id_media").hide();
         $("#id_area3").hide();
         $("#id_area4").show();
         $("#id_area2").hide();
        console.log('Mangoes and papayas are $2.79 a pound.');
        // expected output: "Mangoes and papayas are $2.79 a pound."
        break;
      default:
         $("#id_media").hide();
         $("#id_area3").hide();
         $("#id_area4").hide();
         $("#id_area2").hide();

    }


};
  </script>


{% endblock script %}

