{% extends 'base_registro.html' %}

{% block content %}

<div class="container mt-5">
  {% if messages %}
  <div class="row">
    <div class="col-12 col-lg-9 my-2">
      <ul class="messages list-group">
        {% for message in messages %}
        <li class="list-group-item text-success text-center" {% if message.tags %} class="{{ message.tags }}"
          {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-12 col-lg-3 my-2">
      <a href="{% url 'meus_registros' %}" class="btn btn-success btn-block btn-lg">Ver Registros</a>
    </div>
  </div>
  {% endif %}
  <section id="tabs">
    <div class="container">
      <!-- <h6 class="section-title h2"></h6> -->
      <div class="row">
        <div class="col-12 ">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">
                Arquivos
              </a>
              <a class="nav-item nav-link text-capitalize" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                role="tab" aria-controls="nav-profile" aria-selected="false">
                Insira aqui o Titulo da obra
              </a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">
                Coautores
              </a>
              <!-- <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
              aria-controls="nav-about" aria-selected="false">About</a> -->
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <form id="registro-form" class="form-group" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <div class="card">
                      <div class="col-12 mt-2">
                        Saldo R$ <samp id="credit">{{user.clientes.get_credit}}</samp>
                      </div>
                      <div class="card-body mb-lg-5">
                        <div class="row mb-lg-3 p-lg-1">
                          <div class="col-12">
                            <label for="id_codigo_promocional">{{form.codigo_promocional.label}}</label>
                            {{form.codigo_promocional}}
                            <div class="alert-danger"></div>
                          </div>
                          <div class="col-12">
                            <label for="id_codservico">{{form.codservico.label}}</label><br>
                            {{form.codservico}}
                            <div class="alert-danger"></div>
                          </div>
                          <div class="col-12 text-center mt-1 p-2">
                            <div class="p-3 bg-light" id="extentions">
                              Extensões permitidas: <br>
                              Selecione o serviço!
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                    <div class="row">
                      <div class="col-12">
                        <div id="btn-upload" class="card" style="cursor: pointer">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="card"
                                  style="padding: 2.5%; border-radius: 10px; outline: none; border: none">
                                  <h3 class="text-center display-4">Clique ou Arraste até aqui!</h3>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 my-2">
                            <div class="progress bg-white">
                              <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">0%</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="col-12 my-2">
                        <div class="card ">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-4 text-left">
                                <h6>Tamanho</h6>
                                <h6 id="tamanho">0</h6>
                              </div>
                              <div class="col-4 text-center">
                                <h6>Valor</h6>
                                <h6 id="valor">R$ 0,00</h6>
                              </div>
                              <div class="col-4 text-right">
                                <h6>Total</h6>
                                <h6 id="total">R$ 0,00</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-2">
                    <div class="table-responsive">
                      <table id="gallery" class="table table-sm table-dark">
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row float-right">
                  <div class="col-12">
                    <input disabled class="form-check-input" type="checkbox" name="acept" id="check_acept_terms">
                    Concordo com o <a href="#modal_terms" data-toggle="modal" data-target="#modal_terms">contrato
                    </a>.
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-12 col-lg-3 offset-lg-9 text-center">
                    <input checked class="form-check-input" type="checkbox" name="save_file" id="save_file"> Salvar arquivos? <br>
                  </div>
                  <div class="col-12 col-lg-3 offset-lg-9">
                    <button disabled type="submit" id="btn_submit"
                      class="text-white btn btn-success float-right mt-1 btn-md btn-block">Enviar</button>
                  </div>
                </div>

              </form>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <table id="description" class="table">
                <tbody>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <div id="coautores"></div>
            </div>
          </div>
          <!-- <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
          </div> -->
        </div>
      </div>
    </div>
  </section>
</div>


<input disabled id="fileupload" type="file" name="file" multiple="multiple" style="display: none;"
  data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
<!-- data-url="{% url 'base_upload' %}"  -->

<!-- Modal grande -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal">Modal
  grande</button> -->

<div id="modal_cielo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_cielo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form id="cielo">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Comprar Crédito</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
          <div class="row">

            {% for field in cielo %}
            <div class="col-12 col-md-6 my-1">
              {{field.label_tag}} <br>
              {{field}}
              {{field.errors}}
            </div>
            {% endfor %}

          </div>
          <!-- {{cielo.as_p}} -->
        </div>
        <div class="modal-footer">
          <button id="btn_cielo" type="submit" class="btn btn-primary">Comprar</button>
          <button id="btn_close_cielo" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
      <p id="msg_cielo"></p>
    </form>
  </div>
</div>

<form class="" id="complete" action="" method="post">
  {% csrf_token %}
</form>

{% include "registros/components/termos.html" %}
{% endblock %}