{% extends "base.html" %}
{% load static %}
{% block header %}
<style>
    html,
    body {
        height: 100%;
    }

    .msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center
    }

    .redirect {
        font-size: 1.5rem
    }

    .redirect,
    #time {
        color: red;
        font-weight: bold;
    }
</style>
{% endblock header %}

{% block main %}
<div class="msg">
    {% block msg %}
   <div class="card large">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- <img class="activator" src="{% static 'imgs/f_img1.jpg' %}"> -->
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        <i class="material-icons right">email</i>
        <p>
          Cadastro realizado com sucesso :) <br>
          Você receberá um e-mail em breve, <br>
          por favor confirme o e-mail para concluir seu cadastro. <br>
          Obrigado!
        </p>
      </span>
    </div>
    <!-- <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Email de confirmação<i class="material-icons right">email</i></span>
      <p>Você receberá um e-mail, por favor confirme o e-mail para concluir seu cadastro. Obrigado!</p>
    </div> -->
  </div>
    {% endblock msg %}
</div>
{% endblock main %}