{% extends "base.html" %}
{% load static %}
{% block header %}
<style>
    html,
    body {
        height: 100%;
    }

    .msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center
    }

    .redirect {
        font-size: 1.5rem
    }

    .redirect,
    #time {
        color: red;
        font-weight: bold;
    }
</style>
{% endblock header %}

{% block main %}
<div class="msg">
    {% block msg %}
   <div class="card large">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{% static 'imgs/f_img1.jpg' %}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Cadastro realizado com sucesso
          Você receberá um e-mail em breve,por favor confirme o e-mail para concluir seu cadastro. Obrigado!

          <i class="material-icons right">email</i></span>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Email de confirmaçção<i class="material-icons right">email</i></span>
      <p>Você receberá um e-mail em breve,por favor confirme o e-mail para concluir seu cadastro. Obrigado!</p>
    </div>
  </div>



    <h1>
       Vá de Jet SEU Novo jeito de dirigir!
    </h1>
    {% endblock msg %}
</div>
{% endblock main %}